pipeline/Import_single_Month.json
{
	"name": "Import_single_Month",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "200_PERSONIO_DATA",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable Jahr",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable Monat",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "200_PERSONIO_DATA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Jahr": {
										"value": "@variables('VJahr')",
										"type": "Expression"
									},
									"Monat": {
										"value": "@variables('VMonat')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "400_PERSONELL_DATA",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "200_PERSONIO_DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "400_PERSONELL_DATA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set variable Jahr",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "VJahr",
								"value": {
									"value": "@substring(item().name, 5, 4)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable Monat",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "VMonat",
								"value": {
									"value": "@substring(item().name, 10, 2)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "PersonioASCII",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"VJahr": {
				"type": "String"
			},
			"VMonat": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-30T09:53:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}