TTA-HR-ADF/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TTA-HR-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/400_PERSONELL_DATA')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_Personio_Data",
								"type": "DatasetReference"
							},
							"name": "PersonioBasis"
						},
						{
							"dataset": {
								"referenceName": "D_PERIOD",
								"type": "DatasetReference"
							},
							"name": "PERIODE"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung2"
						},
						{
							"dataset": {
								"referenceName": "200_CompanyTranslation",
								"type": "DatasetReference"
							},
							"name": "Companytranslations"
						},
						{
							"dataset": {
								"referenceName": "Merge_Employees",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "400_PERSONELL_DATA",
								"type": "DatasetReference"
							},
							"name": "PersonellData"
						}
					],
					"transformations": [
						{
							"name": "BerechnungenVorab"
						},
						{
							"name": "Aggregation"
						},
						{
							"name": "BerechnungenNachAggregat"
						},
						{
							"name": "BerechnungenVorabTeil2"
						},
						{
							"name": "SuchePeriode"
						},
						{
							"name": "BerechnungenNachAggregationTeil2"
						},
						{
							"name": "AktiveMA"
						},
						{
							"name": "GroupChange"
						},
						{
							"name": "LookUebersetzung"
						},
						{
							"name": "lookGender"
						},
						{
							"name": "lookAnstArt"
						},
						{
							"name": "lookExitType"
						},
						{
							"name": "filter0"
						},
						{
							"name": "SucheGesKurz"
						},
						{
							"name": "join1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STATUS as string,",
						"          ID as string,",
						"          MAILADDRESS as string,",
						"          FIRSTNAME as string,",
						"          LASTNAME as string,",
						"          DEPARTMENT as string,",
						"          AGE as decimal(27,4),",
						"          HIRED_AS as string,",
						"          HIRE_DATE as date,",
						"          EMPLOYMENT_TYPE as string,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          EXIT_TYPE as string,",
						"          EXIT_TYPE_2 as string,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          PLACE_OF_BUSINESS as string,",
						"          LENGTH_OF_EMPLOYMENT_IN_YEARS as decimal(27,4),",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          END_OF_EMPLOYMENT as date,",
						"          FIRST_ENTRY_DATE as date,",
						"          FTE as decimal(27,4),",
						"          GENDER as string,",
						"          COMPANY as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          COST_CENTRE as string,",
						"          TERMINATION_DATE as date,",
						"          REASON_FOR_TERMINATION as string,",
						"          NUMBER_OF_EMPLOYEES_STATUS_ACTIVE_AND_TIME_OFF as decimal(27,4),",
						"          DATEV_PERSONNEL_NUMBER as string,",
						"          POSITION as string,",
						"          WEEKLY_HOURS as decimal(27,4),",
						"          LOAD_PERIOD as string,",
						"          LOAD_TIME as timestamp,",
						"          BAD_CHURN as string,",
						"          ACCIDENT_AT_WORK as string,",
						"          WORKRELATED_DEATH as string,",
						"          COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PersonioBasis",
						"source(output(",
						"          DP_PERIOD_ID as integer,",
						"          DP_PERIOD as string,",
						"          DP_START_DATE as date,",
						"          DP_END_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PERIODE",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung2",
						"source(output(",
						"          COMPANY as string,",
						"          COMPANY_KEY as string,",
						"          VALID_TO as integer,",
						"          VALID_FROM as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Companytranslations",
						"source(output(",
						"          LOAD_PERIOD as string,",
						"          ID as string,",
						"          EXIT_TYPE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"lookExitType derive(LengthOfEmploymentRounded = iif(isNull(LENGTH_OF_EMPLOYMENT_IN_YEARS), toInteger(0), toInteger(round(LENGTH_OF_EMPLOYMENT_IN_YEARS, 0))),",
						"          AgeRounded = iif( isNull(AGE), toInteger(0), toInteger(round(AGE, 0))),",
						"          Jahr = substring(PersonioBasis@LOAD_PERIOD, 1, 4),",
						"          Monat = substring(PersonioBasis@LOAD_PERIOD, 5, 2),",
						"          HCNewHires = iif(\r",
						"    ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE \r",
						"    && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE \r",
						"    && GroupChange == false() \r",
						"    && \r",
						"        (\r",
						"                isNull(EXIT_TYPE) \r",
						"            || \r",
						"                EXIT_TYPE != \"Verschmelzung\"\r",
						"            ||\r",
						"                ( EXIT_TYPE == \"Verschmelzung\" && toString(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD, \"YYYYMM\") == toString(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD, \"YYYYMM\") )\r",
						"        )\r",
						"    , \r",
						"        toDecimal('1')\r",
						"    , \r",
						"        toDecimal('0') \r",
						"),",
						"          HCNewHiresGroupChange = iif(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( EXIT_TYPE != 'Verschmelzung' || isNull(EXIT_TYPE)) , toDecimal('1'), toDecimal('0') ),",
						"          HCLeavers = iif( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE  && GroupChange == false() && (isNull(EXIT_TYPE) || EXIT_TYPE != \"Verschmelzung\"), toDecimal('1'), toDecimal('0')),",
						"          HCLeaversGroupChange = iif( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( EXIT_TYPE != 'Verschmelzung' || isNull(EXIT_TYPE) ) , toDecimal('1'), toDecimal('0')),",
						"          Geschlecht = iif(GENDER  == \"\" || isNull(GENDER), \"N/A\", \r",
						"     iif(isNull(Uebersetzung@TRANSLATION), GENDER, Uebersetzung@TRANSLATION)\r",
						"),",
						"          ExitType = iif(isNull(EXIT_TYPE)||EXIT_TYPE == \"\" || EXIT_TYPE == \"0\", \"\", iif( isNull(Uebersetzung2@TRANSLATION), EXIT_TYPE, Uebersetzung2@TRANSLATION ))) ~> BerechnungenVorab",
						"BerechnungenVorabTeil2 aggregate(groupBy(DEPARTMENT,",
						"          AgeRounded,",
						"          HiredAs,",
						"          PLACE_OF_BUSINESS,",
						"          LengthOfEmploymentRounded,",
						"          Geschlecht,",
						"          PersonioBasis@COMPANY_KEY,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          COST_CENTRE,",
						"          PersonioBasis@LOAD_PERIOD,",
						"          DP_PERIOD_ID,",
						"          Jahr,",
						"          Monat,",
						"          EmployeeGroupFunction,",
						"          ExitType,",
						"          GroupChange),",
						"     StartCountEmployees = sum(AktiveMA),",
						"          EndCountEmployeesInclGroupChange = sum(AktiveMAInclGroupChange),",
						"          EndCountFTEInclGroupChange = sum(FTEEmployeesEndInclGroupChange),",
						"          HCNewHires = sum(HCNewHires),",
						"          HCNewHiresGroupChange = sum(HCNewHiresGroupChange),",
						"          HCLeavers = sum(HCLeavers),",
						"          HCLeaversGroupChange = sum(HCLeaversGroupChange),",
						"          FTEEmployeesStart = sum(FTEEmployeesEnd),",
						"          FTENewHires = sum(FTENewHires),",
						"          FTENewHiresGroupChange = sum(FTENewHiresGroupChange),",
						"          FTELeavers = sum(FTELeavers),",
						"          FTELeaversGroupChange = sum(FTELeaversGroupChange),",
						"          HCChurn = sum(HCChurn),",
						"          BadChurn = sum(BadChurn),",
						"          AccidentAtWork = sum(AccidentAtWork),",
						"          WorkRelDeath = sum(WorkRelatedFatalities),",
						"          DisabledHC = sum(DisabledHC),",
						"          DisabledFTE = sum(DisabledFTE)) ~> Aggregation",
						"Aggregation derive(Operative = iif( \r",
						"    locate('EXPERTS', upper(EmployeeGroupFunction), 1) > 0 \r",
						"    || locate('CONSULTANTS', upper(EmployeeGroupFunction), 1) > 0 \r",
						"    || locate('PROFESSIONALS', upper(EmployeeGroupFunction), 1) > 0, \r",
						"    'Operative', \r",
						"    'Non Operative'\r",
						"),",
						"          KST = toString(null()),",
						"          Position = toString(null()),",
						"          HCEmployeesEnd = StartCountEmployees -  HCLeavers + HCNewHires,",
						"          HCEmployeesStartInclGroupChange = EndCountEmployeesInclGroupChange +  HCLeaversGroupChange - HCNewHiresGroupChange) ~> BerechnungenNachAggregat",
						"BerechnungenVorab derive(FTEEmployeesEnd = AktiveMA * FTE,",
						"          FTEEmployeesEndInclGroupChange = AktiveMAInclGroupChange * FTE,",
						"          FTENewHires = HCNewHires * FTE,",
						"          FTENewHiresGroupChange = HCNewHiresGroupChange * FTE,",
						"          FTELeavers = HCLeavers * FTE,",
						"          FTELeaversGroupChange = HCLeaversGroupChange * FTE,",
						"          HCChurn = HCLeavers,",
						"          BadChurn = case(isNull(BAD_CHURN) , toDecimal(0, 18, 4), \r",
						"     BAD_CHURN == \"Nein\", toDecimal(0, 18, 4), \r",
						"     BAD_CHURN == \"No\", toDecimal(0, 18, 4), \r",
						"      BAD_CHURN == \"0\", toDecimal(0, 18, 4), \r",
						"      BAD_CHURN == \"Ja\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      BAD_CHURN == \"Yes\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      BAD_CHURN == \"1\" && HCLeavers == 1, toDecimal(1, 18, 4)),",
						"          EmployeeGroupFunction = replace(EMPLOYEE_GROUPS_BY_FUNCTION, \"A¼\", \"ü\"),",
						"          HiredAs = replace(replace(HIRED_AS, \"A¼\", \"ü\"), \"A¤\", \"ä\"),",
						"          DisabledHC = iif(DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange, toDecimal(0, 1, 0)),",
						"          DisabledFTE = iif(DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange * FTE, toDecimal(0, 1, 0)),",
						"          AccidentAtWork = iif(ACCIDENT_AT_WORK == \"Ja\", AktiveMAInclGroupChange, toDecimal(0, 1, 0)),",
						"          WorkRelatedFatalities = iif(WORKRELATED_DEATH == \"Ja\", AktiveMAInclGroupChange, toDecimal(0, 1, 0))) ~> BerechnungenVorabTeil2",
						"filter0, PERIODE lookup(PersonioBasis@LOAD_PERIOD == DP_PERIOD,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SuchePeriode",
						"lookAnstArt derive(FTEEmployeesEnd = FTEEmployeesStart - FTELeavers + FTENewHires,",
						"          FTEEmployeesStartInclGroupChange = EndCountFTEInclGroupChange + FTELeaversGroupChange - FTENewHiresGroupChange,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG = case(\r",
						"    left(HiredAs, 14) == \"Festangestellt\", true(), \r",
						"    left(HiredAs, 10) == \"Angestellt\", true(), \r",
						"    left(HiredAs, 13) == \"IT-Consultant\", true(),\r",
						"    left(HiredAs, 9) == \"IT-Expert\", true(),\r",
						"    left(HiredAs, 9) == \"Permanent\", true(),\r",
						"    false()\r",
						"),",
						"          PeriodDate = toDate(concat(LOAD_PERIOD, toString( lastDayOfMonth( toDate(concat(LOAD_PERIOD, \"01\"), \"yyyy-MM-dd\" )), \"dd\")), \"yyyy-MM-dd\"),",
						"          HiredAsText = iif( isNull(HiredAs) || HiredAs == \"\", \"no Hired As Information\", iif(isNull(Uebersetzung2@TRANSLATION), HiredAs, Uebersetzung2@TRANSLATION)),",
						"          EmployeeGroupFunctionText = iif( isNull(EmployeeGroupFunction) || EmployeeGroupFunction == \"\", \"no Function Information\", \r",
						"    iif( isNull(Uebersetzung@TRANSLATION),  EmployeeGroupFunction, Uebersetzung@TRANSLATION)\r",
						"    )) ~> BerechnungenNachAggregationTeil2",
						"GroupChange derive(AktiveMA = iif( ( isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE || ( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && GroupChange == true() ) ) && \r",
						"         ( \r",
						"               ( isNull(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD < DP_START_DATE ) \r",
						"               || \r",
						"               ( \r",
						"\r",
						"                    ( \r",
						"                         ( \r",
						"                              EXIT_TYPE == \"Verschmelzung\" \r",
						"                              && \r",
						"                                   (\r",
						"                                        left(toString(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD), 7) != left(toString(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD), 7) \r",
						"                                        ||\r",
						"                                        isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD)\r",
						"                                   )\r",
						"                              \r",
						"                         ) \r",
						"                         || \r",
						"                         (GroupChange == true() && !(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD < DP_END_DATE && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD > DP_START_DATE ))\r",
						"                    )  \r",
						"               )  \r",
						"          ) , \r",
						"            toDecimal(1) , \r",
						"            toDecimal(0)\r",
						"   ),",
						"          AktiveMAInclGroupChange = iif( \r",
						"    ( ( isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD > DP_END_DATE ) || ( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD == DP_END_DATE && EXIT_TYPE == 'Verschmelzung')  ) \r",
						"    && ( isNull(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE ) , \r",
						"        toDecimal(1) , \r",
						"        toDecimal(0)\r",
						")) ~> AktiveMA",
						"SucheGesKurz derive(GroupChange = case(   EXIT_TYPE == \"Gesellschaftswechsel\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel Abgang\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel Zugang\", true(), \r",
						"        EXIT_TYPE == \"subcompany-switch\", true(),\r",
						"    false())) ~> GroupChange",
						"BerechnungenNachAggregat, Uebersetzung lookup(EmployeeGroupFunction == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookUebersetzung",
						"AktiveMA, Uebersetzung lookup(GENDER == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookGender",
						"LookUebersetzung, Uebersetzung2 lookup(HiredAs == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookAnstArt",
						"lookGender, Uebersetzung2 lookup(EXIT_TYPE == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookExitType",
						"derivedColumn1 filter(COMPANY != '0') ~> filter0",
						"SuchePeriode, Companytranslations lookup(PersonioBasis@COMPANY == Companytranslations@COMPANY,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> SucheGesKurz",
						"PersonioBasis, source1 join(PersonioBasis@LOAD_PERIOD == source1@LOAD_PERIOD",
						"     && PersonioBasis@ID == source1@ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 derive(EXIT_TYPE = iif(isNull(source1@EXIT_TYPE) || source1@EXIT_TYPE == '', PersonioBasis@EXIT_TYPE, source1@EXIT_TYPE),",
						"          LOAD_PERIOD_INT = toInteger(PersonioBasis@LOAD_PERIOD)) ~> derivedColumn1",
						"BerechnungenNachAggregationTeil2 sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     input(",
						"          FPR_PERIOD as string,",
						"          FPR_PERIOD_ID as integer,",
						"          FPR_YEAR as string,",
						"          FPR_MONTH as string,",
						"          FPR_GENDER as string,",
						"          FPR_COMPANY as string,",
						"          FPR_PLANT as string,",
						"          FPR_BU as string,",
						"          FPR_POSITION as string,",
						"          FPR_PERMANENT_EMPLOYEE as string,",
						"          FPR_DISABILITY as string,",
						"          FPR_FUNCTION as string,",
						"          FPR_OPERATIVE as string,",
						"          FPR_AGE as integer,",
						"          FPR_TENURE as integer,",
						"          FPR_COSTCENTRE as string,",
						"          FPR_HC_EMPLOYEES_START_PERIOD as decimal(18,4),",
						"          FPR_HC_EMPLOYEES_END_PERIOD as decimal(18,4),",
						"          FPR_HC_NEW_HIRES as decimal(18,4),",
						"          FPR_HC_LEAVERS as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_START_PERIOD as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_END_PERIOD as decimal(18,4),",
						"          FPR_FTE_NEW_HIRES as decimal(18,4),",
						"          FPR_FTE_LEAVERS as decimal(18,4),",
						"          FPR_HC_CHURN as decimal(18,4),",
						"          FPR_BAD_CHURN as decimal(18,4),",
						"          FPR_PERMANENT_EMPLOYEES_FLAG as boolean,",
						"          FPR_WORK_REL_INURIES as decimal(18,4),",
						"          FPR_WORK_REL_FATALITIES as decimal(18,4),",
						"          FPR_DISABLED_EMPLOYEES_HC as decimal(18,4),",
						"          FPR_DISABLED_EMPLOYEES_FTE as decimal(18,4),",
						"          FPR_PERIOD_DATE as date,",
						"          FPR_EXIT_TYPE as string,",
						"          FPR_HC_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE as decimal(18,4),",
						"          FPR_HC_NEW_HIRES_GROUPCHANGE as decimal(18,4),",
						"          FPR_HC_LEAVERS_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_NEW_HIRES_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_LEAVERS_GROUPCHANGE as decimal(18,4),",
						"          FPR_GROUPCHANGE as boolean,",
						"          FPR_HC_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE as decimal(18,4)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:[('truncate table [400_DWH].[F_PERSONELL_REPORT]')],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FPR_PERIOD = LOAD_PERIOD,",
						"          FPR_PERIOD_ID = DP_PERIOD_ID,",
						"          FPR_COSTCENTRE = KST,",
						"          FPR_POSITION = Position,",
						"          FPR_YEAR = Jahr,",
						"          FPR_MONTH = Monat,",
						"          FPR_GENDER = Geschlecht,",
						"          FPR_COMPANY = COMPANY_KEY,",
						"          FPR_PLANT = PLACE_OF_BUSINESS,",
						"          FPR_BU = DEPARTMENT,",
						"          FPR_PERMANENT_EMPLOYEE = HiredAsText,",
						"          FPR_DISABILITY = DEGREE_OF_SEVERE_DISABILITY,",
						"          FPR_FUNCTION = EmployeeGroupFunctionText,",
						"          FPR_OPERATIVE = Operative,",
						"          FPR_AGE = AgeRounded,",
						"          FPR_TENURE = LengthOfEmploymentRounded,",
						"          FPR_HC_EMPLOYEES_START_PERIOD = StartCountEmployees,",
						"          FPR_HC_EMPLOYEES_END_PERIOD = HCEmployeesEnd,",
						"          FPR_HC_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountEmployeesInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountFTEInclGroupChange,",
						"          FPR_HC_NEW_HIRES = HCNewHires,",
						"          FPR_HC_LEAVERS = HCLeavers,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD = FTEEmployeesStart,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD = FTEEmployeesEnd,",
						"          FPR_FTE_NEW_HIRES = FTENewHires,",
						"          FPR_FTE_LEAVERS = FTELeavers,",
						"          FPR_HC_CHURN = HCChurn,",
						"          FPR_BAD_CHURN = BadChurn,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG,",
						"          FPR_WORK_REL_INURIES = AccidentAtWork,",
						"          FPR_WORK_REL_FATALITIES = WorkRelDeath,",
						"          FPR_DISABLED_EMPLOYEES_HC = DisabledHC,",
						"          FPR_DISABLED_EMPLOYEES_FTE = DisabledFTE,",
						"          FPR_PERIOD_DATE = PeriodDate,",
						"          FPR_EXIT_TYPE = ExitType,",
						"          FPR_HC_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = HCEmployeesStartInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = FTEEmployeesStartInclGroupChange,",
						"          FPR_HC_NEW_HIRES_GROUPCHANGE = HCNewHiresGroupChange,",
						"          FPR_HC_LEAVERS_GROUPCHANGE = HCLeaversGroupChange,",
						"          FPR_FTE_NEW_HIRES_GROUPCHANGE = FTENewHiresGroupChange,",
						"          FPR_FTE_LEAVERS_GROUPCHANGE = FTELeaversGroupChange",
						"     )) ~> PersonellData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_PERSONELL_DATA_PYTHON')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_STG_SEM",
								"type": "DatasetReference"
							},
							"name": "PersonioBasis"
						},
						{
							"dataset": {
								"referenceName": "D_PERIOD",
								"type": "DatasetReference"
							},
							"name": "PERIODE"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung2"
						},
						{
							"dataset": {
								"referenceName": "200_CompanyTranslation",
								"type": "DatasetReference"
							},
							"name": "Companytranslations"
						},
						{
							"dataset": {
								"referenceName": "Merge_Employees",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "400_DWH_FAP",
								"type": "DatasetReference"
							},
							"name": "PersonellData"
						}
					],
					"transformations": [
						{
							"name": "BerechnungenVorab"
						},
						{
							"name": "Aggregation"
						},
						{
							"name": "BerechnungenNachAggregat"
						},
						{
							"name": "BerechnungenVorabTeil2"
						},
						{
							"name": "SuchePeriode"
						},
						{
							"name": "BerechnungenNachAggregationTeil2"
						},
						{
							"name": "AktiveMA"
						},
						{
							"name": "GroupChange"
						},
						{
							"name": "LookUebersetzung"
						},
						{
							"name": "lookGender"
						},
						{
							"name": "lookAnstArt"
						},
						{
							"name": "lookExitType"
						},
						{
							"name": "filter0"
						},
						{
							"name": "SucheGesKurz"
						},
						{
							"name": "join1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SEM_ID as string,",
						"          SEM_SID as string,",
						"          SEM_VALID_FROM as date,",
						"          SEM_VALID_TO as date,",
						"          SEM_COST_CENTRE as string,",
						"          SEM_COST_CENTER_NAME as string,",
						"          SEM_COST_CENTER_WEIGHT as integer,",
						"          SEM_DEPARTMENT as string,",
						"          SEM_FIRST_ENTRY_DATE as date,",
						"          SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          SEM_HIRED_AS as string,",
						"          SEM_EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          SEM_MAILADDRESS as string,",
						"          SEM_FTE as string,",
						"          SEM_GENDER as string,",
						"          SEM_POSITION as string,",
						"          SEM_COMPANY as string,",
						"          SEM_EXIT_TYPE as string,",
						"          SEM_WEEKLY_HOURS as string,",
						"          SEM_UPLOAD_DATE as timestamp,",
						"          SEM_FIRSTNAME as string,",
						"          SEM_LASTNAME as string,",
						"          SEM_PLACE_OF_BUSINESS as string,",
						"          SEM_DEGREE_OF_SEVERE_DISABILITY as string,",
						"          SEM_DATE_OF_BIRTH as string,",
						"          SEM_BAD_CHURN as string,",
						"          SEM_LOAD_PERIOD as string,",
						"          SEM_AGE as integer,",
						"          SEM_TENURE as integer,",
						"          SEM_START_ACCIDENT_DATE as string,",
						"          SEM_COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PersonioBasis",
						"source(output(",
						"          DP_PERIOD_ID as integer,",
						"          DP_PERIOD as string,",
						"          DP_START_DATE as date,",
						"          DP_END_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PERIODE",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung2",
						"source(output(",
						"          COMPANY as string,",
						"          COMPANY_KEY as string,",
						"          VALID_TO as integer,",
						"          VALID_FROM as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Companytranslations",
						"source(output(",
						"          LOAD_PERIOD as string,",
						"          ID as string,",
						"          EXIT_TYPE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"lookExitType derive(LengthOfEmploymentRounded = iif(isNull(SEM_TENURE), toInteger(0), toInteger(round(SEM_TENURE, 0))),",
						"          Jahr = substring(SEM_LOAD_PERIOD, 1, 4),",
						"          Monat = substring(SEM_LOAD_PERIOD, 5, 2),",
						"          HCNewHires = iif(    SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE     && SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE     && GroupChange == false()     &&         (                isNull(SEM_EXIT_TYPE)             ||                 SEM_EXIT_TYPE != \"Verschmelzung\"            ||                ( SEM_EXIT_TYPE == \"Verschmelzung\" && toString(SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD, \"YYYYMM\") == toString(SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD, \"YYYYMM\") )        )    ,         toDecimal('1')    ,         toDecimal('0') ),",
						"          HCNewHiresGroupChange = iif(SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( SEM_EXIT_TYPE != 'Verschmelzung' || isNull(SEM_EXIT_TYPE)) , toDecimal('1'), toDecimal('0') ),",
						"          HCNewHiresOnlyGroupChange = iif(\r",
						"  SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&\r",
						"  SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE &&\r",
						"  GroupChange,\r",
						"  toDecimal(1),\r",
						"  toDecimal(0)\r",
						"),",
						"          HCLeavers = iif( SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE  && GroupChange == false() && (isNull(SEM_EXIT_TYPE) || SEM_EXIT_TYPE != \"Verschmelzung\"), toDecimal('1'), toDecimal('0')),",
						"          HCLeaversGroupChange = iif( SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( SEM_EXIT_TYPE != 'Verschmelzung' || isNull(SEM_EXIT_TYPE) ) , toDecimal('1'), toDecimal('0')),",
						"          HCLeaversOnlyGroupChange = iif( SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE &&  GroupChange,  toDecimal(1),  toDecimal(0)),",
						"          Geschlecht = iif(SEM_GENDER  == \"\" || isNull(SEM_GENDER), \"N/A\", \r",
						"     iif(isNull(Uebersetzung@TRANSLATION), SEM_GENDER, Uebersetzung@TRANSLATION)\r",
						"),",
						"          ExitType = iif(isNull(SEM_EXIT_TYPE)||SEM_EXIT_TYPE == \"\" || SEM_EXIT_TYPE == \"0\", \"\", iif( isNull(Uebersetzung2@TRANSLATION), SEM_EXIT_TYPE, Uebersetzung2@TRANSLATION )),",
						"          numeric_fte = toDecimal(SEM_FTE)) ~> BerechnungenVorab",
						"BerechnungenVorabTeil2 aggregate(groupBy(DEPARTMENT = SEM_DEPARTMENT,",
						"          AGE = SEM_AGE,",
						"          HiredAs,",
						"          PLACE_OF_BUSINESS = SEM_PLACE_OF_BUSINESS,",
						"          LengthOfEmploymentRounded,",
						"          Geschlecht,",
						"          COMPANY_KEY,",
						"          DEGREE_OF_SEVERE_DISABILITY = SEM_DEGREE_OF_SEVERE_DISABILITY,",
						"          COST_CENTRE = SEM_COST_CENTRE,",
						"          LOAD_PERIOD = SEM_LOAD_PERIOD,",
						"          DP_PERIOD_ID,",
						"          Jahr,",
						"          Monat,",
						"          EmployeeGroupFunction,",
						"          ExitType,",
						"          GroupChange,",
						"          ID = SEM_ID,",
						"          SID = SEM_SID,",
						"          SEM_MAILADDRESS),",
						"     StartCountEmployees = sum(AktiveMA),",
						"          EndCountEmployeesInclGroupChange = sum(AktiveMAInclGroupChange),",
						"          EndCountFTEInclGroupChange = sum(FTEEmployeesEndInclGroupChange),",
						"          HCNewHires = sum(HCNewHires),",
						"          HCNewHiresGroupChange = sum(HCNewHiresGroupChange),",
						"          HCNewHiresOnlyGroupChange = sum(HCNewHiresOnlyGroupChange),",
						"          HCLeavers = sum(HCLeavers),",
						"          HCLeaversGroupChange = sum(HCLeaversGroupChange),",
						"          HCLeaversOnlyGroupChange = sum(HCLeaversOnlyGroupChange),",
						"          FTEEmployeesStart = sum(FTEEmployeesEnd),",
						"          FTENewHires = sum(FTENewHires),",
						"          FTENewHiresGroupChange = sum(FTENewHiresGroupChange),",
						"          FTENewHiresOnlyGroupChange = sum(FTENewHiresOnlyGroupChange),",
						"          FTELeavers = sum(FTELeavers),",
						"          FTELeaversGroupChange = sum(FTELeaversGroupChange),",
						"          FTELeaversOnlyGroupChange = sum(FTELeaversOnlyGroupChange),",
						"          HCChurn = sum(HCChurn),",
						"          BadChurn = sum(BadChurn),",
						"          AccidentAtWork = sum(AccidentAtWork),",
						"          WorkRelDeath = sum(WorkRelatedFatalities),",
						"          DisabledHC = sum(DisabledHC),",
						"          DisabledFTE = sum(DisabledFTE)) ~> Aggregation",
						"Aggregation derive(Operative = iif( \r",
						"    locate('EXPERTS', upper(EmployeeGroupFunction), 1) > 0 \r",
						"    || locate('CONSULTANTS', upper(EmployeeGroupFunction), 1) > 0 \r",
						"    || locate('PROFESSIONALS', upper(EmployeeGroupFunction), 1) > 0, \r",
						"    'Operative', \r",
						"    'Non Operative'\r",
						"),",
						"          KST = toString(null()),",
						"          Position = toString(null()),",
						"          HCEmployeesEnd = StartCountEmployees -  HCLeavers + HCNewHires,",
						"          HCEmployeesStartInclGroupChange = EndCountEmployeesInclGroupChange +  HCLeaversGroupChange - HCNewHiresGroupChange) ~> BerechnungenNachAggregat",
						"BerechnungenVorab derive(FTEEmployeesEnd = AktiveMA * numeric_fte,",
						"          FTEEmployeesEndInclGroupChange = AktiveMAInclGroupChange * numeric_fte,",
						"          FTENewHires = HCNewHires * numeric_fte,",
						"          FTENewHiresGroupChange = HCNewHiresGroupChange * numeric_fte,",
						"          FTENewHiresOnlyGroupChange = HCNewHiresOnlyGroupChange * numeric_fte,",
						"          FTELeavers = HCLeavers * numeric_fte,",
						"          FTELeaversGroupChange = HCLeaversGroupChange * numeric_fte,",
						"          FTELeaversOnlyGroupChange = HCLeaversOnlyGroupChange * numeric_fte,",
						"          HCChurn = HCLeavers,",
						"          BadChurn = case(isNull(SEM_BAD_CHURN) , toDecimal(0, 18, 4), \r",
						"     SEM_BAD_CHURN == \"Nein\", toDecimal(0, 18, 4), \r",
						"     SEM_BAD_CHURN == \"No\", toDecimal(0, 18, 4), \r",
						"      SEM_BAD_CHURN == \"0\", toDecimal(0, 18, 4), \r",
						"      SEM_BAD_CHURN == \"Ja\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      SEM_BAD_CHURN == \"Yes\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      SEM_BAD_CHURN == \"1\" && HCLeavers == 1, toDecimal(1, 18, 4)),",
						"          EmployeeGroupFunction = replace(SEM_EMPLOYEE_GROUPS_BY_FUNCTION, \"A¼\", \"ü\"),",
						"          HiredAs = replace(replace(SEM_HIRED_AS, \"A¼\", \"ü\"), \"A¤\", \"ä\"),",
						"          DisabledHC = iif(\r",
						"    isNull(SEM_DEGREE_OF_SEVERE_DISABILITY)\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == ''\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == '0%'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == '0'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == '0.00%'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == 'nein'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == 'no'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == '0 %'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == '0,00%'\r",
						"    || trim(lower(SEM_DEGREE_OF_SEVERE_DISABILITY)) == 'NULL',\r",
						"    \r",
						"    0,\r",
						"    1\r",
						"),",
						"          DisabledFTE = iif(SEM_DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || SEM_DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange * numeric_fte, toDecimal(0, 1, 0)),",
						"          AccidentAtWork = /* iif(start_accident_date <> null(), AktiveMAInclGroupChange, toDecimal(0, 1, 0)) */\r",
						"0,",
						"          WorkRelatedFatalities = /* iif(WORKRELATED_DEATH == \"Ja\", AktiveMAInclGroupChange, toDecimal(0, 1, 0)) */\r",
						"0) ~> BerechnungenVorabTeil2",
						"filter0, PERIODE lookup(SEM_LOAD_PERIOD == DP_PERIOD,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SuchePeriode",
						"lookAnstArt derive(FTEEmployeesEnd = FTEEmployeesStart - FTELeavers + FTENewHires,",
						"          FTEEmployeesStartInclGroupChange = EndCountFTEInclGroupChange + FTELeaversGroupChange - FTENewHiresGroupChange,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG = case(\r",
						"    left(HiredAs, 14) == \"Festangestellt\", true(), \r",
						"    left(HiredAs, 10) == \"Angestellt\", true(), \r",
						"    left(HiredAs, 13) == \"IT-Consultant\", true(),\r",
						"    left(HiredAs, 9) == \"IT-Expert\", true(),\r",
						"    left(HiredAs, 9) == \"Permanent\", true(),\r",
						"    false()\r",
						"),",
						"          PeriodDate = toDate(concat(LOAD_PERIOD, toString( lastDayOfMonth( toDate(concat(LOAD_PERIOD, \"01\"), \"yyyy-MM-dd\" )), \"dd\")), \"yyyy-MM-dd\"),",
						"          HiredAsText = iif( isNull(HiredAs) || HiredAs == \"\", \"no Hired As Information\", iif(isNull(Uebersetzung2@TRANSLATION), HiredAs, Uebersetzung2@TRANSLATION)),",
						"          EmployeeGroupFunctionText = iif( isNull(EmployeeGroupFunction) || EmployeeGroupFunction == \"\", \"no Function Information\", \r",
						"    iif( isNull(Uebersetzung@TRANSLATION),  EmployeeGroupFunction, Uebersetzung@TRANSLATION)\r",
						"    )) ~> BerechnungenNachAggregationTeil2",
						"GroupChange derive(AktiveMA = iif( ( isNull(SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE || ( SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && GroupChange == true() ) ) && \r",
						"         ( \r",
						"               ( isNull(SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD < DP_START_DATE ) \r",
						"               || \r",
						"               ( \r",
						"\r",
						"                    ( \r",
						"                         ( \r",
						"                              SEM_EXIT_TYPE == \"Verschmelzung\" \r",
						"                              && \r",
						"                                   (\r",
						"                                        left(toString(SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD), 7) != left(toString(SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD), 7) \r",
						"                                        ||\r",
						"                                        isNull(SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD)\r",
						"                                   )\r",
						"                              \r",
						"                         ) \r",
						"                         || \r",
						"                         (GroupChange == true() && !(SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD < DP_END_DATE && SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD > DP_START_DATE ))\r",
						"                    )  \r",
						"               )  \r",
						"          ) , \r",
						"            toDecimal(1) , \r",
						"            toDecimal(0)\r",
						"   ),",
						"          AktiveMAInclGroupChange = iif( \r",
						"    ( ( isNull(SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD > DP_END_DATE ) || ( SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD == DP_END_DATE && SEM_EXIT_TYPE == 'Verschmelzung')  ) \r",
						"    && ( isNull(SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE ) , \r",
						"        toDecimal(1) , \r",
						"        toDecimal(0)\r",
						")) ~> AktiveMA",
						"SucheGesKurz derive(GroupChange = case(   SEM_EXIT_TYPE == \"Gesellschaftswechsel\", true(), \r",
						"        SEM_EXIT_TYPE == \"GROUP-Wechsel\", true(), \r",
						"        SEM_EXIT_TYPE == \"GROUP-Wechsel Abgang\", true(), \r",
						"        SEM_EXIT_TYPE == \"GROUP-Wechsel Zugang\", true(), \r",
						"        SEM_EXIT_TYPE == \"subcompany-switch\", true(),\r",
						"    false())) ~> GroupChange",
						"BerechnungenNachAggregat, Uebersetzung lookup(EmployeeGroupFunction == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookUebersetzung",
						"AktiveMA, Uebersetzung lookup(SEM_GENDER == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookGender",
						"LookUebersetzung, Uebersetzung2 lookup(HiredAs == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookAnstArt",
						"lookGender, Uebersetzung2 lookup(SEM_EXIT_TYPE == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookExitType",
						"derivedColumn1 filter(SEM_COMPANY != '0') ~> filter0",
						"SuchePeriode, Companytranslations lookup(SEM_COMPANY == COMPANY",
						"     && SEM_LOAD_PERIOD_INT >= VALID_FROM",
						"     && SEM_LOAD_PERIOD_INT <= VALID_TO,",
						"     multiple: true,",
						"     broadcast: 'right',",
						"     pickup: 'any')~> SucheGesKurz",
						"PersonioBasis, source1 join(SEM_LOAD_PERIOD == LOAD_PERIOD",
						"     && SEM_ID == ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 derive(SEM_EXIT_TYPE = iif(isNull(EXIT_TYPE) || EXIT_TYPE == '', SEM_EXIT_TYPE, EXIT_TYPE),",
						"          SEM_LOAD_PERIOD_INT = toInteger(SEM_LOAD_PERIOD)) ~> derivedColumn1",
						"Companytranslations derive(VALID_TO = toInteger(VALID_TO),",
						"          VALID_FROM = toInteger(VALID_FROM)) ~> derivedColumn2",
						"BerechnungenNachAggregationTeil2 sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FPR_PERIOD = LOAD_PERIOD,",
						"          FPR_PERIOD_ID = DP_PERIOD_ID,",
						"          FPR_COSTCENTRE = KST,",
						"          FPR_POSITION = Position,",
						"          FPR_YEAR = Jahr,",
						"          FPR_MONTH = Monat,",
						"          FPR_GENDER = Geschlecht,",
						"          FPR_COMPANY = COMPANY_KEY,",
						"          FPR_PLANT = PLACE_OF_BUSINESS,",
						"          FPR_BU = DEPARTMENT,",
						"          FPR_PERMANENT_EMPLOYEE = HiredAsText,",
						"          FPR_DISABILITY = DEGREE_OF_SEVERE_DISABILITY,",
						"          FPR_FUNCTION = EmployeeGroupFunctionText,",
						"          FPR_OPERATIVE = Operative,",
						"          FPR_AGE = AGE,",
						"          FPR_TENURE = LengthOfEmploymentRounded,",
						"          FPR_HC_EMPLOYEES_START_PERIOD = StartCountEmployees,",
						"          FPR_HC_EMPLOYEES_END_PERIOD = HCEmployeesEnd,",
						"          FPR_HC_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountEmployeesInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountFTEInclGroupChange,",
						"          FPR_HC_NEW_HIRES = HCNewHires,",
						"          FPR_HC_LEAVERS = HCLeavers,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD = FTEEmployeesStart,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD = FTEEmployeesEnd,",
						"          FPR_FTE_NEW_HIRES = FTENewHires,",
						"          FPR_FTE_LEAVERS = FTELeavers,",
						"          FPR_HC_CHURN = HCChurn,",
						"          FPR_BAD_CHURN = BadChurn,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG,",
						"          FPR_WORK_REL_INURIES = AccidentAtWork,",
						"          FPR_WORK_REL_FATALITIES = WorkRelDeath,",
						"          FPR_DISABLED_EMPLOYEES_HC = DisabledHC,",
						"          FPR_DISABLED_EMPLOYEES_FTE = DisabledFTE,",
						"          FPR_PERIOD_DATE = PeriodDate,",
						"          FPR_EXIT_TYPE = ExitType,",
						"          FPR_HC_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = HCEmployeesStartInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = FTEEmployeesStartInclGroupChange,",
						"          FPR_HC_NEW_HIRES_GROUPCHANGE = HCNewHiresGroupChange,",
						"          FPR_HC_NEW_HIRES_ONLY_GROUPCHANGE = HCNewHiresOnlyGroupChange,",
						"          FPR_HC_LEAVERS_GROUPCHANGE = HCLeaversGroupChange,",
						"          FPR_HC_LEAVERS_ONLY_GROUPCHANGE = HCLeaversOnlyGroupChange,",
						"          FPR_FTE_NEW_HIRES_GROUPCHANGE = FTENewHiresGroupChange,",
						"          FPR_FTE_NEW_HIRES_ONLY_GROUPCHANGE = FTENewHiresOnlyGroupChange,",
						"          FPR_FTE_LEAVERS_GROUPCHANGE = FTELeaversGroupChange,",
						"          FPR_FTE_LEAVERS_ONLY_GROUPCHANGE = FTELeaversOnlyGroupChange,",
						"          SID,",
						"          ID,",
						"          MAILADDRESS = SEM_MAILADDRESS",
						"     )) ~> PersonellData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_PERSONELL_DATA_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "backup"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_Personio_Data",
								"type": "DatasetReference"
							},
							"name": "PersonioBasis"
						},
						{
							"dataset": {
								"referenceName": "D_PERIOD",
								"type": "DatasetReference"
							},
							"name": "PERIODE"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung2"
						},
						{
							"dataset": {
								"referenceName": "200_CompanyTranslation",
								"type": "DatasetReference"
							},
							"name": "Companytranslations"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "400_PERSONELL_DATA",
								"type": "DatasetReference"
							},
							"name": "PersonellData"
						}
					],
					"transformations": [
						{
							"name": "BerechnungenVorab"
						},
						{
							"name": "Aggregation"
						},
						{
							"name": "BerechnungenNachAggregat"
						},
						{
							"name": "BerechnungenVorabTeil2"
						},
						{
							"name": "SuchePeriode"
						},
						{
							"name": "BerechnungenNachAggregationTeil2"
						},
						{
							"name": "AktiveMA"
						},
						{
							"name": "GroupChange"
						},
						{
							"name": "LookUebersetzung"
						},
						{
							"name": "lookGender"
						},
						{
							"name": "lookAnstArt"
						},
						{
							"name": "lookExitType"
						},
						{
							"name": "filter0"
						},
						{
							"name": "SucheGesKurz"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STATUS as string,",
						"          ID as string,",
						"          MAILADDRESS as string,",
						"          FIRSTNAME as string,",
						"          LASTNAME as string,",
						"          DEPARTMENT as string,",
						"          AGE as decimal(27,4),",
						"          HIRED_AS as string,",
						"          HIRE_DATE as date,",
						"          EMPLOYMENT_TYPE as string,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          EXIT_TYPE as string,",
						"          EXIT_TYPE_2 as string,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          PLACE_OF_BUSINESS as string,",
						"          LENGTH_OF_EMPLOYMENT_IN_YEARS as decimal(27,4),",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          END_OF_EMPLOYMENT as date,",
						"          FIRST_ENTRY_DATE as date,",
						"          FTE as decimal(27,4),",
						"          GENDER as string,",
						"          COMPANY as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          COST_CENTRE as string,",
						"          TERMINATION_DATE as date,",
						"          REASON_FOR_TERMINATION as string,",
						"          NUMBER_OF_EMPLOYEES_STATUS_ACTIVE_AND_TIME_OFF as decimal(27,4),",
						"          DATEV_PERSONNEL_NUMBER as string,",
						"          POSITION as string,",
						"          WEEKLY_HOURS as decimal(27,4),",
						"          LOAD_PERIOD as string,",
						"          LOAD_TIME as timestamp,",
						"          BAD_CHURN as string,",
						"          ACCIDENT_AT_WORK as string,",
						"          WORKRELATED_DEATH as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PersonioBasis",
						"source(output(",
						"          DP_PERIOD_ID as integer,",
						"          DP_PERIOD as string,",
						"          DP_START_DATE as date,",
						"          DP_END_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PERIODE",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung2",
						"source(output(",
						"          COMPANY as string,",
						"          COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Companytranslations",
						"lookExitType derive(LengthOfEmploymentRounded = toInteger(round(LENGTH_OF_EMPLOYMENT_IN_YEARS, 0)),",
						"          AgeRounded = toInteger(round(AGE, 0)),",
						"          Jahr = substring(LOAD_PERIOD, 1, 4),",
						"          Monat = substring(LOAD_PERIOD, 5, 2),",
						"          HCNewHires = iif(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && GroupChange == false() && (isNull(EXIT_TYPE) || EXIT_TYPE != \"Verschmelzung\"), toDecimal('1'), toDecimal('0') ),",
						"          HCNewHiresGroupChange = iif(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( EXIT_TYPE != 'Verschmelzung' || isNull(EXIT_TYPE)) , toDecimal('1'), toDecimal('0') ),",
						"          HCLeavers = iif( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE  && GroupChange == false() && (isNull(EXIT_TYPE) || EXIT_TYPE != \"Verschmelzung\"), toDecimal('1'), toDecimal('0')),",
						"          HCLeaversGroupChange = iif( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( EXIT_TYPE != 'Verschmelzung' || isNull(EXIT_TYPE) ) , toDecimal('1'), toDecimal('0')),",
						"          Geschlecht = iif(GENDER  == \"\" || isNull(GENDER), \"N/A\", \r",
						"     iif(isNull(Uebersetzung@TRANSLATION), GENDER, Uebersetzung@TRANSLATION)\r",
						"),",
						"          ExitType = iif(isNull(EXIT_TYPE)||EXIT_TYPE == \"\" || EXIT_TYPE == \"0\", \"\", iif( isNull(Uebersetzung2@TRANSLATION), EXIT_TYPE, Uebersetzung2@TRANSLATION ))) ~> BerechnungenVorab",
						"BerechnungenVorabTeil2 aggregate(groupBy(DEPARTMENT,",
						"          AgeRounded,",
						"          HiredAs,",
						"          PLACE_OF_BUSINESS,",
						"          LengthOfEmploymentRounded,",
						"          Geschlecht,",
						"          COMPANY_KEY,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          COST_CENTRE,",
						"          LOAD_PERIOD,",
						"          DP_PERIOD_ID,",
						"          Jahr,",
						"          Monat,",
						"          EmployeeGroupFunction,",
						"          ExitType,",
						"          GroupChange),",
						"     StartCountEmployees = sum(AktiveMA),",
						"          EndCountEmployeesInclGroupChange = sum(AktiveMAInclGroupChange),",
						"          EndCountFTEInclGroupChange = sum(FTEEmployeesEndInclGroupChange),",
						"          HCNewHires = sum(HCNewHires),",
						"          HCNewHiresGroupChange = sum(HCNewHiresGroupChange),",
						"          HCLeavers = sum(HCLeavers),",
						"          HCLeaversGroupChange = sum(HCLeaversGroupChange),",
						"          FTEEmployeesStart = sum(FTEEmployeesEnd),",
						"          FTENewHires = sum(FTENewHires),",
						"          FTENewHiresGroupChange = sum(FTENewHiresGroupChange),",
						"          FTELeavers = sum(FTELeavers),",
						"          FTELeaversGroupChange = sum(FTELeaversGroupChange),",
						"          HCChurn = sum(HCChurn),",
						"          BadChurn = sum(BadChurn),",
						"          AccidentAtWork = sum(AccidentAtWork),",
						"          WorkRelDeath = sum(WorkRelatedFatalities),",
						"          DisabledHC = sum(DisabledHC),",
						"          DisabledFTE = sum(DisabledFTE)) ~> Aggregation",
						"Aggregation derive(Operative = iif( locate('EXPERTS', upper(EmployeeGroupFunction), 1) > 0 || locate('CONSULTANTS', upper(EmployeeGroupFunction), 1) > 0, 'Operative', 'Non Operative'),",
						"          KST = toString(null()),",
						"          Position = toString(null()),",
						"          HCEmployeesEnd = StartCountEmployees -  HCLeavers + HCNewHires,",
						"          HCEmployeesStartInclGroupChange = EndCountEmployeesInclGroupChange +  HCLeaversGroupChange - HCNewHiresGroupChange) ~> BerechnungenNachAggregat",
						"BerechnungenVorab derive(FTEEmployeesEnd = AktiveMA * FTE,",
						"          FTEEmployeesEndInclGroupChange = AktiveMAInclGroupChange * FTE,",
						"          FTENewHires = HCNewHires * FTE,",
						"          FTENewHiresGroupChange = HCNewHiresGroupChange * FTE,",
						"          FTELeavers = HCLeavers * FTE,",
						"          FTELeaversGroupChange = HCLeaversGroupChange * FTE,",
						"          HCChurn = HCLeavers,",
						"          BadChurn = case(isNull(BAD_CHURN) , toDecimal(0, 18, 4), \r",
						"     BAD_CHURN == \"Nein\", toDecimal(0, 18, 4), \r",
						"     BAD_CHURN == \"No\", toDecimal(0, 18, 4), \r",
						"      BAD_CHURN == \"0\", toDecimal(0, 18, 4), \r",
						"      BAD_CHURN == \"Ja\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      BAD_CHURN == \"Yes\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      BAD_CHURN == \"1\" && HCLeavers == 1, toDecimal(1, 18, 4)),",
						"          EmployeeGroupFunction = replace(EMPLOYEE_GROUPS_BY_FUNCTION, \"A¼\", \"ü\"),",
						"          HiredAs = replace(replace(HIRED_AS, \"A¼\", \"ü\"), \"A¤\", \"ä\"),",
						"          DisabledHC = iif(DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange, toDecimal(0, 1, 0)),",
						"          DisabledFTE = iif(DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange * FTE, toDecimal(0, 1, 0)),",
						"          AccidentAtWork = iif(ACCIDENT_AT_WORK == \"Ja\", AktiveMA, toDecimal(0, 1, 0)),",
						"          WorkRelatedFatalities = iif(WORKRELATED_DEATH == \"Ja\", AktiveMA, toDecimal(0, 1, 0))) ~> BerechnungenVorabTeil2",
						"filter0, PERIODE lookup(LOAD_PERIOD == DP_PERIOD,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SuchePeriode",
						"lookAnstArt derive(FTEEmployeesEnd = FTEEmployeesStart - FTELeavers + FTENewHires,",
						"          FTEEmployeesStartInclGroupChange = EndCountFTEInclGroupChange + FTELeaversGroupChange - FTENewHiresGroupChange,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG = case(\r",
						"    left(HiredAs, 14) == \"Festangestellt\", true(), \r",
						"    left(HiredAs, 10) == \"Angestellt\", true(), \r",
						"    left(HiredAs, 13) == \"IT-Consultant\", true(),\r",
						"    left(HiredAs, 9) == \"IT-Expert\", true(),\r",
						"    false()\r",
						"),",
						"          PeriodDate = toDate(concat(LOAD_PERIOD, toString( lastDayOfMonth( toDate(concat(LOAD_PERIOD, \"01\"), \"yyyy-MM-dd\" )), \"dd\")), \"yyyy-MM-dd\"),",
						"          HiredAsText = iif( isNull(HiredAs) || HiredAs == \"\", \"no Hired As Information\", iif(isNull(Uebersetzung2@TRANSLATION), HiredAs, Uebersetzung2@TRANSLATION)),",
						"          EmployeeGroupFunctionText = iif( isNull(EmployeeGroupFunction) || EmployeeGroupFunction == \"\", \"no Function Information\", \r",
						"    iif( isNull(Uebersetzung@TRANSLATION),  EmployeeGroupFunction, Uebersetzung@TRANSLATION)\r",
						"    )) ~> BerechnungenNachAggregationTeil2",
						"GroupChange derive(AktiveMA = iif( ( isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE ) && \r",
						"    ( ( isNull(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD < DP_START_DATE ) || ( ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD == DP_START_DATE && EXIT_TYPE == \"Verschmelzung\" )  ) , \r",
						"        toDecimal(1) , \r",
						"        toDecimal(0)\r",
						"    ),",
						"          AktiveMAInclGroupChange = iif( \r",
						"    ( ( isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD > DP_END_DATE ) || ( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD == DP_END_DATE && EXIT_TYPE == 'Verschmelzung')  ) \r",
						"    && ( isNull(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE ) , \r",
						"        toDecimal(1) , \r",
						"        toDecimal(0)\r",
						")) ~> AktiveMA",
						"SucheGesKurz derive(GroupChange = case(   EXIT_TYPE == \"Gesellschaftswechsel\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel Abgang\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel Zugang\", true(), \r",
						"    false())) ~> GroupChange",
						"BerechnungenNachAggregat, Uebersetzung lookup(EmployeeGroupFunction == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookUebersetzung",
						"AktiveMA, Uebersetzung lookup(GENDER == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookGender",
						"LookUebersetzung, Uebersetzung2 lookup(HiredAs == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookAnstArt",
						"lookGender, Uebersetzung2 lookup(EXIT_TYPE == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookExitType",
						"PersonioBasis filter(COMPANY != '0') ~> filter0",
						"SuchePeriode, Companytranslations lookup(PersonioBasis@COMPANY == Companytranslations@COMPANY,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SucheGesKurz",
						"BerechnungenNachAggregationTeil2 sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     input(",
						"          FPR_PERIOD as string,",
						"          FPR_PERIOD_ID as integer,",
						"          FPR_YEAR as string,",
						"          FPR_MONTH as string,",
						"          FPR_GENDER as string,",
						"          FPR_COMPANY as string,",
						"          FPR_PLANT as string,",
						"          FPR_BU as string,",
						"          FPR_POSITION as string,",
						"          FPR_PERMANENT_EMPLOYEE as string,",
						"          FPR_DISABILITY as string,",
						"          FPR_FUNCTION as string,",
						"          FPR_OPERATIVE as string,",
						"          FPR_AGE as integer,",
						"          FPR_TENURE as integer,",
						"          FPR_COSTCENTRE as string,",
						"          FPR_HC_EMPLOYEES_START_PERIOD as decimal(18,4),",
						"          FPR_HC_EMPLOYEES_END_PERIOD as decimal(18,4),",
						"          FPR_HC_NEW_HIRES as decimal(18,4),",
						"          FPR_HC_LEAVERS as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_START_PERIOD as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_END_PERIOD as decimal(18,4),",
						"          FPR_FTE_NEW_HIRES as decimal(18,4),",
						"          FPR_FTE_LEAVERS as decimal(18,4),",
						"          FPR_HC_CHURN as decimal(18,4),",
						"          FPR_BAD_CHURN as decimal(18,4),",
						"          FPR_PERMANENT_EMPLOYEES_FLAG as boolean,",
						"          FPR_WORK_REL_INURIES as decimal(18,4),",
						"          FPR_WORK_REL_FATALITIES as decimal(18,4),",
						"          FPR_DISABLED_EMPLOYEES_HC as decimal(18,4),",
						"          FPR_DISABLED_EMPLOYEES_FTE as decimal(18,4),",
						"          FPR_PERIOD_DATE as date,",
						"          FPR_EXIT_TYPE as string,",
						"          FPR_HC_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE as decimal(18,4),",
						"          FPR_HC_NEW_HIRES_GROUPCHANGE as decimal(18,4),",
						"          FPR_HC_LEAVERS_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_NEW_HIRES_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_LEAVERS_GROUPCHANGE as decimal(18,4),",
						"          FPR_GROUPCHANGE as boolean,",
						"          FPR_HC_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE as decimal(18,4),",
						"          FPR_FTE_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE as decimal(18,4)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:[('truncate table [400_DWH].[F_PERSONELL_REPORT]')],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FPR_PERIOD = LOAD_PERIOD,",
						"          FPR_PERIOD_ID = DP_PERIOD_ID,",
						"          FPR_COSTCENTRE = KST,",
						"          FPR_POSITION = Position,",
						"          FPR_YEAR = Jahr,",
						"          FPR_MONTH = Monat,",
						"          FPR_GENDER = Geschlecht,",
						"          FPR_COMPANY = COMPANY_KEY,",
						"          FPR_PLANT = PLACE_OF_BUSINESS,",
						"          FPR_BU = DEPARTMENT,",
						"          FPR_PERMANENT_EMPLOYEE = HiredAsText,",
						"          FPR_DISABILITY = DEGREE_OF_SEVERE_DISABILITY,",
						"          FPR_FUNCTION = EmployeeGroupFunctionText,",
						"          FPR_OPERATIVE = Operative,",
						"          FPR_AGE = AgeRounded,",
						"          FPR_TENURE = LengthOfEmploymentRounded,",
						"          FPR_HC_EMPLOYEES_START_PERIOD = StartCountEmployees,",
						"          FPR_HC_EMPLOYEES_END_PERIOD = HCEmployeesEnd,",
						"          FPR_HC_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountEmployeesInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountFTEInclGroupChange,",
						"          FPR_HC_NEW_HIRES = HCNewHires,",
						"          FPR_HC_LEAVERS = HCLeavers,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD = FTEEmployeesStart,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD = FTEEmployeesEnd,",
						"          FPR_FTE_NEW_HIRES = FTENewHires,",
						"          FPR_FTE_LEAVERS = FTELeavers,",
						"          FPR_HC_CHURN = HCChurn,",
						"          FPR_BAD_CHURN = BadChurn,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG,",
						"          FPR_WORK_REL_INURIES = AccidentAtWork,",
						"          FPR_WORK_REL_FATALITIES = WorkRelDeath,",
						"          FPR_DISABLED_EMPLOYEES_HC = DisabledHC,",
						"          FPR_DISABLED_EMPLOYEES_FTE = DisabledFTE,",
						"          FPR_PERIOD_DATE = PeriodDate,",
						"          FPR_EXIT_TYPE = ExitType,",
						"          FPR_HC_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = HCEmployeesStartInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = FTEEmployeesStartInclGroupChange,",
						"          FPR_HC_NEW_HIRES_GROUPCHANGE = HCNewHiresGroupChange,",
						"          FPR_HC_LEAVERS_GROUPCHANGE = HCLeaversGroupChange,",
						"          FPR_FTE_NEW_HIRES_GROUPCHANGE = FTENewHiresGroupChange,",
						"          FPR_FTE_LEAVERS_GROUPCHANGE = FTELeaversGroupChange",
						"     )) ~> PersonellData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_PERSONELL_DATA_from_FEB24')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_Personio_Data",
								"type": "DatasetReference"
							},
							"name": "PersonioBasis"
						},
						{
							"dataset": {
								"referenceName": "D_PERIOD",
								"type": "DatasetReference"
							},
							"name": "PERIODE"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung"
						},
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "Uebersetzung2"
						},
						{
							"dataset": {
								"referenceName": "200_CompanyTranslation",
								"type": "DatasetReference"
							},
							"name": "Companytranslations"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "PersonellData"
						}
					],
					"transformations": [
						{
							"name": "BerechnungenVorab"
						},
						{
							"name": "Aggregation"
						},
						{
							"name": "BerechnungenNachAggregat"
						},
						{
							"name": "BerechnungenVorabTeil2"
						},
						{
							"name": "SuchePeriode"
						},
						{
							"name": "BerechnungenNachAggregationTeil2"
						},
						{
							"name": "AktiveMA"
						},
						{
							"name": "GroupChange"
						},
						{
							"name": "LookUebersetzung"
						},
						{
							"name": "lookGender"
						},
						{
							"name": "lookAnstArt"
						},
						{
							"name": "lookExitType"
						},
						{
							"name": "filter0"
						},
						{
							"name": "SucheGesKurz"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STATUS as string,",
						"          ID as string,",
						"          MAILADDRESS as string,",
						"          FIRSTNAME as string,",
						"          LASTNAME as string,",
						"          DEPARTMENT as string,",
						"          AGE as decimal(27,4),",
						"          HIRED_AS as string,",
						"          HIRE_DATE as date,",
						"          EMPLOYMENT_TYPE as string,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          EXIT_TYPE as string,",
						"          EXIT_TYPE_2 as string,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          PLACE_OF_BUSINESS as string,",
						"          LENGTH_OF_EMPLOYMENT_IN_YEARS as decimal(27,4),",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          END_OF_EMPLOYMENT as date,",
						"          FIRST_ENTRY_DATE as date,",
						"          FTE as decimal(27,4),",
						"          GENDER as string,",
						"          COMPANY as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          COST_CENTRE as string,",
						"          TERMINATION_DATE as date,",
						"          REASON_FOR_TERMINATION as string,",
						"          NUMBER_OF_EMPLOYEES_STATUS_ACTIVE_AND_TIME_OFF as decimal(27,4),",
						"          DATEV_PERSONNEL_NUMBER as string,",
						"          POSITION as string,",
						"          WEEKLY_HOURS as decimal(27,4),",
						"          LOAD_PERIOD as string,",
						"          LOAD_TIME as timestamp,",
						"          BAD_CHURN as string,",
						"          ACCIDENT_AT_WORK as string,",
						"          WORKRELATED_DEATH as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PersonioBasis",
						"source(output(",
						"          DP_PERIOD_ID as integer,",
						"          DP_PERIOD as string,",
						"          DP_START_DATE as date,",
						"          DP_END_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> PERIODE",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung",
						"source(output(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Uebersetzung2",
						"source(output(",
						"          COMPANY as string,",
						"          COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Companytranslations",
						"lookExitType derive(LengthOfEmploymentRounded = iif(isNull(LENGTH_OF_EMPLOYMENT_IN_YEARS), toInteger(0), toInteger(round(LENGTH_OF_EMPLOYMENT_IN_YEARS, 0))),",
						"          AgeRounded = iif( isNull(AGE), toInteger(0), toInteger(round(AGE, 0))),",
						"          Jahr = substring(LOAD_PERIOD, 1, 4),",
						"          Monat = substring(LOAD_PERIOD, 5, 2),",
						"          HCNewHires = iif(\r",
						"    ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE \r",
						"    && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE \r",
						"    && GroupChange == false() \r",
						"    && \r",
						"        (\r",
						"                isNull(EXIT_TYPE) \r",
						"            || \r",
						"                EXIT_TYPE != \"Verschmelzung\"\r",
						"            ||\r",
						"                ( EXIT_TYPE == \"Verschmelzung\" && toString(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD, \"YYYYMM\") == toString(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD, \"YYYYMM\") )\r",
						"        )\r",
						"    , \r",
						"        toDecimal('1')\r",
						"    , \r",
						"        toDecimal('0') \r",
						"),",
						"          HCNewHiresGroupChange = iif(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( EXIT_TYPE != 'Verschmelzung' || isNull(EXIT_TYPE)) , toDecimal('1'), toDecimal('0') ),",
						"          HCLeavers = iif( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE  && GroupChange == false() && (isNull(EXIT_TYPE) || EXIT_TYPE != \"Verschmelzung\"), toDecimal('1'), toDecimal('0')),",
						"          HCLeaversGroupChange = iif( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE &&  LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && ( EXIT_TYPE != 'Verschmelzung' || isNull(EXIT_TYPE) ) , toDecimal('1'), toDecimal('0')),",
						"          Geschlecht = iif(GENDER  == \"\" || isNull(GENDER), \"N/A\", \r",
						"     iif(isNull(Uebersetzung@TRANSLATION), GENDER, Uebersetzung@TRANSLATION)\r",
						"),",
						"          ExitType = iif(isNull(EXIT_TYPE)||EXIT_TYPE == \"\" || EXIT_TYPE == \"0\", \"\", iif( isNull(Uebersetzung2@TRANSLATION), EXIT_TYPE, Uebersetzung2@TRANSLATION ))) ~> BerechnungenVorab",
						"BerechnungenVorabTeil2 aggregate(groupBy(DEPARTMENT,",
						"          AgeRounded,",
						"          HiredAs,",
						"          PLACE_OF_BUSINESS,",
						"          LengthOfEmploymentRounded,",
						"          Geschlecht,",
						"          COMPANY_KEY,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          COST_CENTRE,",
						"          LOAD_PERIOD,",
						"          DP_PERIOD_ID,",
						"          Jahr,",
						"          Monat,",
						"          EmployeeGroupFunction,",
						"          ExitType,",
						"          GroupChange),",
						"     StartCountEmployees = sum(AktiveMA),",
						"          EndCountEmployeesInclGroupChange = sum(AktiveMAInclGroupChange),",
						"          EndCountFTEInclGroupChange = sum(FTEEmployeesEndInclGroupChange),",
						"          HCNewHires = sum(HCNewHires),",
						"          HCNewHiresGroupChange = sum(HCNewHiresGroupChange),",
						"          HCLeavers = sum(HCLeavers),",
						"          HCLeaversGroupChange = sum(HCLeaversGroupChange),",
						"          FTEEmployeesStart = sum(FTEEmployeesEnd),",
						"          FTENewHires = sum(FTENewHires),",
						"          FTENewHiresGroupChange = sum(FTENewHiresGroupChange),",
						"          FTELeavers = sum(FTELeavers),",
						"          FTELeaversGroupChange = sum(FTELeaversGroupChange),",
						"          HCChurn = sum(HCChurn),",
						"          BadChurn = sum(BadChurn),",
						"          AccidentAtWork = sum(AccidentAtWork),",
						"          WorkRelDeath = sum(WorkRelatedFatalities),",
						"          DisabledHC = sum(DisabledHC),",
						"          DisabledFTE = sum(DisabledFTE)) ~> Aggregation",
						"Aggregation derive(Operative = iif( \r",
						"    locate('EXPERTS', upper(EmployeeGroupFunction), 1) > 0 \r",
						"    || locate('CONSULTANTS', upper(EmployeeGroupFunction), 1) > 0 \r",
						"    || locate('PROFESSIONALS', upper(EmployeeGroupFunction), 1) > 0, \r",
						"    'Operative', \r",
						"    'Non Operative'\r",
						"),",
						"          KST = toString(null()),",
						"          Position = toString(null()),",
						"          HCEmployeesEnd = StartCountEmployees -  HCLeavers + HCNewHires,",
						"          HCEmployeesStartInclGroupChange = EndCountEmployeesInclGroupChange +  HCLeaversGroupChange - HCNewHiresGroupChange) ~> BerechnungenNachAggregat",
						"BerechnungenVorab derive(FTEEmployeesEnd = AktiveMA * FTE,",
						"          FTEEmployeesEndInclGroupChange = AktiveMAInclGroupChange * FTE,",
						"          FTENewHires = HCNewHires * FTE,",
						"          FTENewHiresGroupChange = HCNewHiresGroupChange * FTE,",
						"          FTELeavers = HCLeavers * FTE,",
						"          FTELeaversGroupChange = HCLeaversGroupChange * FTE,",
						"          HCChurn = HCLeavers,",
						"          BadChurn = case(isNull(BAD_CHURN) , toDecimal(0, 18, 4), \r",
						"     BAD_CHURN == \"Nein\", toDecimal(0, 18, 4), \r",
						"     BAD_CHURN == \"No\", toDecimal(0, 18, 4), \r",
						"      BAD_CHURN == \"0\", toDecimal(0, 18, 4), \r",
						"      BAD_CHURN == \"Ja\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      BAD_CHURN == \"Yes\" && HCLeavers == 1, toDecimal(1, 18, 4),\r",
						"      BAD_CHURN == \"1\" && HCLeavers == 1, toDecimal(1, 18, 4)),",
						"          EmployeeGroupFunction = replace(EMPLOYEE_GROUPS_BY_FUNCTION, \"A¼\", \"ü\"),",
						"          HiredAs = replace(replace(HIRED_AS, \"A¼\", \"ü\"), \"A¤\", \"ä\"),",
						"          DisabledHC = iif(DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange, toDecimal(0, 1, 0)),",
						"          DisabledFTE = iif(DEGREE_OF_SEVERE_DISABILITY == \"Ja\" || DEGREE_OF_SEVERE_DISABILITY == \"mind. 50%\", AktiveMAInclGroupChange * FTE, toDecimal(0, 1, 0)),",
						"          AccidentAtWork = iif(ACCIDENT_AT_WORK == \"Ja\", AktiveMAInclGroupChange, toDecimal(0, 1, 0)),",
						"          WorkRelatedFatalities = iif(WORKRELATED_DEATH == \"Ja\", AktiveMAInclGroupChange, toDecimal(0, 1, 0))) ~> BerechnungenVorabTeil2",
						"filter0, PERIODE lookup(LOAD_PERIOD == DP_PERIOD,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SuchePeriode",
						"lookAnstArt derive(FTEEmployeesEnd = FTEEmployeesStart - FTELeavers + FTENewHires,",
						"          FTEEmployeesStartInclGroupChange = EndCountFTEInclGroupChange + FTELeaversGroupChange - FTENewHiresGroupChange,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG = case(\r",
						"    left(HiredAs, 14) == \"Festangestellt\", true(), \r",
						"    left(HiredAs, 10) == \"Angestellt\", true(), \r",
						"    left(HiredAs, 13) == \"IT-Consultant\", true(),\r",
						"    left(HiredAs, 9) == \"IT-Expert\", true(),\r",
						"    false()\r",
						"),",
						"          PeriodDate = toDate(concat(LOAD_PERIOD, toString( lastDayOfMonth( toDate(concat(LOAD_PERIOD, \"01\"), \"yyyy-MM-dd\" )), \"dd\")), \"yyyy-MM-dd\"),",
						"          HiredAsText = iif( isNull(HiredAs) || HiredAs == \"\", \"no Hired As Information\", iif(isNull(Uebersetzung2@TRANSLATION), HiredAs, Uebersetzung2@TRANSLATION)),",
						"          EmployeeGroupFunctionText = iif( isNull(EmployeeGroupFunction) || EmployeeGroupFunction == \"\", \"no Function Information\", \r",
						"    iif( isNull(Uebersetzung@TRANSLATION),  EmployeeGroupFunction, Uebersetzung@TRANSLATION)\r",
						"    )) ~> BerechnungenNachAggregationTeil2",
						"GroupChange derive(AktiveMA = iif( ( isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE || ( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD >= DP_START_DATE && LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE && GroupChange == true() ) ) && \r",
						"         ( \r",
						"               ( isNull(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD < DP_START_DATE ) \r",
						"               || \r",
						"               ( \r",
						"\r",
						"                    ( \r",
						"                         ( \r",
						"                              EXIT_TYPE == \"Verschmelzung\" \r",
						"                              && \r",
						"                                   (\r",
						"                                        left(toString(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD), 7) != left(toString(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD), 7) \r",
						"                                        ||\r",
						"                                        isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD)\r",
						"                                   )\r",
						"                              \r",
						"                         ) \r",
						"                         || \r",
						"                         GroupChange == true() \r",
						"                    )  \r",
						"               )  \r",
						"          ) , \r",
						"            toDecimal(1) , \r",
						"            toDecimal(0)\r",
						"   ),",
						"          AktiveMAInclGroupChange = iif( \r",
						"    ( ( isNull(LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD) || LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD > DP_END_DATE ) || ( LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD == DP_END_DATE && EXIT_TYPE == 'Verschmelzung')  ) \r",
						"    && ( isNull(ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD) || ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD <= DP_END_DATE ) , \r",
						"        toDecimal(1) , \r",
						"        toDecimal(0)\r",
						")) ~> AktiveMA",
						"SucheGesKurz derive(GroupChange = case(   EXIT_TYPE == \"Gesellschaftswechsel\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel Abgang\", true(), \r",
						"        EXIT_TYPE == \"GROUP-Wechsel Zugang\", true(),\r",
						"        FIRST_ENTRY_DATE < ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD, true(),\r",
						"    false())) ~> GroupChange",
						"BerechnungenNachAggregat, Uebersetzung lookup(EmployeeGroupFunction == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookUebersetzung",
						"AktiveMA, Uebersetzung lookup(GENDER == SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookGender",
						"LookUebersetzung, Uebersetzung2 lookup(HiredAs == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookAnstArt",
						"lookGender, Uebersetzung2 lookup(EXIT_TYPE == Uebersetzung2@SRC_VALUE,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookExitType",
						"PersonioBasis filter(COMPANY != '0' && (LOAD_PERIOD == '202312' || LOAD_PERIOD == '202311')) ~> filter0",
						"SuchePeriode, Companytranslations lookup(PersonioBasis@COMPANY == Companytranslations@COMPANY,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> SucheGesKurz",
						"BerechnungenNachAggregationTeil2 sink(allowSchemaDrift: true,",
						"     validateSchema: true,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:[('truncate table [400_DWH].[F_PERSONELL_REPORT]')],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          FPR_PERIOD = LOAD_PERIOD,",
						"          FPR_PERIOD_ID = DP_PERIOD_ID,",
						"          FPR_COSTCENTRE = KST,",
						"          FPR_POSITION = Position,",
						"          FPR_YEAR = Jahr,",
						"          FPR_MONTH = Monat,",
						"          FPR_GENDER = Geschlecht,",
						"          FPR_COMPANY = COMPANY_KEY,",
						"          FPR_PLANT = PLACE_OF_BUSINESS,",
						"          FPR_BU = DEPARTMENT,",
						"          FPR_PERMANENT_EMPLOYEE = HiredAsText,",
						"          FPR_DISABILITY = DEGREE_OF_SEVERE_DISABILITY,",
						"          FPR_FUNCTION = EmployeeGroupFunctionText,",
						"          FPR_OPERATIVE = Operative,",
						"          FPR_AGE = AgeRounded,",
						"          FPR_TENURE = LengthOfEmploymentRounded,",
						"          FPR_HC_EMPLOYEES_START_PERIOD = StartCountEmployees,",
						"          FPR_HC_EMPLOYEES_END_PERIOD = HCEmployeesEnd,",
						"          FPR_HC_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountEmployeesInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD_INCL_GROUPCHANGE = EndCountFTEInclGroupChange,",
						"          FPR_HC_NEW_HIRES = HCNewHires,",
						"          FPR_HC_LEAVERS = HCLeavers,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD = FTEEmployeesStart,",
						"          FPR_FTE_EMPLOYEES_END_PERIOD = FTEEmployeesEnd,",
						"          FPR_FTE_NEW_HIRES = FTENewHires,",
						"          FPR_FTE_LEAVERS = FTELeavers,",
						"          FPR_HC_CHURN = HCChurn,",
						"          FPR_BAD_CHURN = BadChurn,",
						"          FPR_PERMANENT_EMPLOYEES_FLAG,",
						"          FPR_WORK_REL_INURIES = AccidentAtWork,",
						"          FPR_WORK_REL_FATALITIES = WorkRelDeath,",
						"          FPR_DISABLED_EMPLOYEES_HC = DisabledHC,",
						"          FPR_DISABLED_EMPLOYEES_FTE = DisabledFTE,",
						"          FPR_PERIOD_DATE = PeriodDate,",
						"          FPR_EXIT_TYPE = ExitType,",
						"          FPR_HC_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = HCEmployeesStartInclGroupChange,",
						"          FPR_FTE_EMPLOYEES_START_PERIOD_INCL_GROUPCHANGE = FTEEmployeesStartInclGroupChange,",
						"          FPR_HC_NEW_HIRES_GROUPCHANGE = HCNewHiresGroupChange,",
						"          FPR_HC_LEAVERS_GROUPCHANGE = HCLeaversGroupChange,",
						"          FPR_FTE_NEW_HIRES_GROUPCHANGE = FTENewHiresGroupChange,",
						"          FPR_FTE_LEAVERS_GROUPCHANGE = FTELeaversGroupChange",
						"     )) ~> PersonellData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_TRANSLATIONS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_TRANSLATIONS",
								"type": "DatasetReference"
							},
							"name": "quelleUebersetzungen"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "400_TRANSLATION",
								"type": "DatasetReference"
							},
							"name": "zielUEbersetzungen"
						}
					],
					"transformations": [
						{
							"name": "unpivot"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Bereich as string,",
						"          Deutsch as string,",
						"          Deutsch_kurz as string,",
						"          Englisch as string,",
						"          {für PowerBi } as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> quelleUebersetzungen",
						"quelleUebersetzungen unpivot(output(",
						"          QuellFeld as string,",
						"          Quellwert as string",
						"     ),",
						"     ungroupBy(Bereich,",
						"          {für PowerBi }),",
						"     lateral: false,",
						"     ignoreNullPivots: true) ~> unpivot",
						"unpivot sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          DATAAREA as string,",
						"          SRC_VALUE as string,",
						"          TRANSLATION as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          DATAAREA = Bereich,",
						"          SRC_VALUE = Quellwert,",
						"          TRANSLATION = {für PowerBi }",
						"     )) ~> zielUEbersetzungen"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Add Age Calculation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_STG_SAE",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "200_STG_SAE",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "Zeilenaendern"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SID as string,",
						"          ID as integer,",
						"          VALID_FROM as date,",
						"          VALID_TO as date,",
						"          COST_CENTRE as integer,",
						"          cost_center_name as string,",
						"          cost_center_weight as short,",
						"          DEPARTMENT as string,",
						"          FIRST_ENTRY_DATE as date,",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          HIRED_AS as string,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          MAILADDRESS as string,",
						"          FTE as string,",
						"          GENDER as string,",
						"          POSITION as string,",
						"          COMPANY as string,",
						"          EXIT_TYPE as string,",
						"          WEEKLY_HOURS as string,",
						"          upload_date as timestamp,",
						"          FIRSTNAME as string,",
						"          LASTNAME as string,",
						"          PLACE_OF_BUSINESS as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          DATE_OF_BIRTH as string,",
						"          LOAD_PERIOD as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(AGE_Calculated = /* round(minus( */\r",
						"    /* toTimestamp(concat(LOAD_PERIOD, '-01'), 'yyyy-MM-dd') */\r",
						"round(minus(toTimestamp(concat(substring(LOAD_PERIOD, 0, 4),'-', substring(LOAD_PERIOD, 5, 6),'-01'), 'yyyy-MM-dd'), \r",
						"     toTimestamp(DATE_OF_BIRTH, 'yyyy-MM-dd'))  / 1000 / 60 / 60 / 24 / 365.25, 0, 2) \r",
						"/* toInteger(age) */,",
						"          Length_of_Employment = round(minus(toDate(concat(LOAD_PERIOD, '-01'), 'yyyy-MM-dd'), FIRST_ENTRY_DATE)/365, 0, 2)\r",
						"/* toInteger(age) */,",
						"          numeric_fte = toDecimal(FTE)) ~> derivedColumn1",
						"derivedColumn1 alterRow(updateIf(true())) ~> Zeilenaendern",
						"Zeilenaendern sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SID,",
						"          ID,",
						"          VALID_FROM,",
						"          VALID_TO,",
						"          COST_CENTRE,",
						"          cost_center_name,",
						"          cost_center_weight,",
						"          DEPARTMENT,",
						"          FIRST_ENTRY_DATE,",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD,",
						"          HIRED_AS,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION,",
						"          MAILADDRESS,",
						"          FTE,",
						"          GENDER,",
						"          POSITION,",
						"          COMPANY,",
						"          EXIT_TYPE,",
						"          WEEKLY_HOURS,",
						"          UPLOAD_DATE = upload_date,",
						"          FIRSTNAME,",
						"          LASTNAME,",
						"          PLACE_OF_BUSINESS,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          AGE = AGE_Calculated,",
						"          LOAD_PERIOD,",
						"          LENGTH_OF_EMPLOYMENT_IN_YEARS = Length_of_Employment,",
						"          DATE_OF_BIRTH",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Add_NonPersonio_Employees')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_Personio_Data",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "200_STG_SML",
								"type": "DatasetReference"
							},
							"name": "MinloadPeriod"
						},
						{
							"dataset": {
								"referenceName": "200_CompanyTranslation",
								"type": "DatasetReference"
							},
							"name": "CompanyTranslation"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "200_STG_SEE",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "join2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STATUS as string,",
						"          ID as string,",
						"          MAILADDRESS as string,",
						"          FIRSTNAME as string,",
						"          LASTNAME as string,",
						"          DEPARTMENT as string,",
						"          AGE as decimal(27,4),",
						"          HIRED_AS as string,",
						"          HIRE_DATE as date,",
						"          EMPLOYMENT_TYPE as string,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          EXIT_TYPE as string,",
						"          EXIT_TYPE_2 as string,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          PLACE_OF_BUSINESS as string,",
						"          LENGTH_OF_EMPLOYMENT_IN_YEARS as decimal(27,4),",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          END_OF_EMPLOYMENT as date,",
						"          FIRST_ENTRY_DATE as date,",
						"          FTE as decimal(27,4),",
						"          GENDER as string,",
						"          COMPANY as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          COST_CENTRE as string,",
						"          TERMINATION_DATE as date,",
						"          REASON_FOR_TERMINATION as string,",
						"          NUMBER_OF_EMPLOYEES_STATUS_ACTIVE_AND_TIME_OFF as decimal(27,4),",
						"          DATEV_PERSONNEL_NUMBER as string,",
						"          POSITION as string,",
						"          WEEKLY_HOURS as decimal(27,4),",
						"          LOAD_PERIOD as string,",
						"          LOAD_TIME as timestamp,",
						"          BAD_CHURN as string,",
						"          ACCIDENT_AT_WORK as string,",
						"          WORKRELATED_DEATH as string,",
						"          COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source(output(",
						"          COMPANY as string,",
						"          Min_Load_Period as integer,",
						"          COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> MinloadPeriod",
						"source(output(",
						"          COMPANY as string,",
						"          COMPANY_KEY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT  [COMPANY] ,[COMPANY_KEY]\\nfrom [200_STG].[D_COMPANY_TRANSLATION]',",
						"     format: 'query') ~> CompanyTranslation",
						"filter1 derive(BAD_CHURN_ADJUSTED = iif( isNull(BAD_CHURN) || BAD_CHURN == \"No\" , \"Ja\", \"Nein\"),",
						"          COST_CENTRE_INT = toInteger(COST_CENTRE),",
						"          ID_INT = toInteger(ID)) ~> derivedColumn1",
						"join2, MinloadPeriod join(CompanyTranslation@COMPANY_KEY == MinloadPeriod@COMPANY_KEY,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 filter(toInteger(LOAD_PERIOD) < Min_Load_Period) ~> filter1",
						"source1, CompanyTranslation join(source1@COMPANY == CompanyTranslation@COMPANY,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          STATUS,",
						"          ID = ID_INT,",
						"          MAILADDRESS,",
						"          FIRSTNAME,",
						"          LASTNAME,",
						"          DEPARTMENT,",
						"          AGE,",
						"          HIRED_AS,",
						"          HIRE_DATE,",
						"          EMPLOYMENT_TYPE,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION,",
						"          EXIT_TYPE,",
						"          EXIT_TYPE_2,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD,",
						"          PLACE_OF_BUSINESS,",
						"          LENGTH_OF_EMPLOYMENT_IN_YEARS,",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD,",
						"          END_OF_EMPLOYMENT,",
						"          FIRST_ENTRY_DATE,",
						"          FTE,",
						"          GENDER,",
						"          COMPANY,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          COST_CENTRE = COST_CENTRE_INT,",
						"          TERMINATION_DATE,",
						"          REASON_FOR_TERMINATION,",
						"          NUMBER_OF_EMPLOYEES_STATUS_ACTIVE_AND_TIME_OFF,",
						"          DATEV_PERSONNEL_NUMBER,",
						"          POSITION,",
						"          WEEKLY_HOURS,",
						"          LOAD_PERIOD,",
						"          LOAD_TIME,",
						"          BAD_CHURN = BAD_CHURN_ADJUSTED,",
						"          ACCIDENT_AT_WORK,",
						"          WORKRELATED_DEATH",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF 100 STG Personio api data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "JSON_PersonioAPI",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "100_STG_SRAE",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "flatten1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          data as (attributes as (archival_status as string, archived_at as string, author_first_name as string, author_last_name as string, columns as string[], created_at as timestamp, data_refreshed_at as timestamp, description as string, end_date as date, filters as string[], id as string, items as (employee_id as integer, historical_attributes as (attribute_id as string, cost_centers as (cost_center_id as integer, name as string, weight as short)[], data_type as string, effective_date as date, employee_id as integer, entity_id as integer, value as string)[])[], name as string, period_type as string, start_date as date, status as string, type as string, updated_at as string), type as string)[],",
						"          limit as boolean,",
						"          metadata as (current_page as boolean, total_elements as short, total_pages as boolean),",
						"          offset as boolean,",
						"          success as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> source1",
						"source1 aggregate(data = max(data.attributes.items.historical_attributes)) ~> aggregate1",
						"aggregate1 foldDown(unroll(data),",
						"     mapColumn(",
						"          historical_atributes = data",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          employee_id as integer,",
						"          attribute_id as string,",
						"          cost_center_id as integer,",
						"          cost_center_name as string,",
						"          cost_center_weight as integer,",
						"          data_type as string,",
						"          effective_date as date,",
						"          entity_id as integer,",
						"          value as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          employee_id = historical_atributes.employee_id,",
						"          attribute_id = historical_atributes.attribute_id,",
						"          cost_center_id = historical_atributes.cost_centers[1].cost_center_id,",
						"          cost_center_name = historical_atributes.cost_centers[1].name,",
						"          cost_center_weight = historical_atributes.cost_centers[1].weight,",
						"          data_type = historical_atributes.data_type,",
						"          effective_date = historical_atributes.effective_date,",
						"          entity_id = historical_atributes.entity_id,",
						"          value = historical_atributes.value",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF 150 STG Personio api data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "100_STG_SRAE",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "100_STG_SRAE",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "100_STG_SRAE",
								"type": "DatasetReference"
							},
							"name": "badchurns"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "150_STG_SPA",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "pivot1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "MapDrifted1",
							"description": "Hiermit wird für jede abweichende Spalte eine explizite Zuordnung erstellt."
						},
						{
							"name": "join2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          employee_id as integer,",
						"          attribute_id as string,",
						"          cost_center_id as integer,",
						"          cost_center_name as string,",
						"          cost_center_weight as integer,",
						"          data_type as string,",
						"          effective_date as date,",
						"          entity_id as integer,",
						"          value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source(output(",
						"          employee_id as integer,",
						"          attribute_id as string,",
						"          cost_center_id as integer,",
						"          cost_center_name as string,",
						"          cost_center_weight as integer,",
						"          data_type as string,",
						"          effective_date as date,",
						"          entity_id as integer,",
						"          value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source2",
						"source(output(",
						"          employee_id as integer,",
						"          attribute_id as string,",
						"          effective_date as date,",
						"          value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT \"employee_id\", \"attribute_id\", \"effective_date\", \"value\"\\nFROM \"100_STG\".\"SRAE_raw_api_employees\"\\nWHERE \"attribute_id\" = \\'dynamic_7467162\\'',",
						"     format: 'query') ~> badchurns",
						"source1 pivot(groupBy(employee_id,",
						"          effective_date),",
						"     pivotBy(attribute_id),",
						"     {} = max(value),",
						"     columnNaming: '$N$V',",
						"     lateral: true) ~> pivot1",
						"source2 aggregate(groupBy(employee_id,",
						"          effective_date),",
						"     cost_center_id = max(cost_center_id),",
						"          cost_center_name = max(cost_center_name),",
						"          cost_center_weight = max(cost_center_weight)) ~> aggregate1",
						"aggregate1 derive(sqlhash = md5(employee_id,effective_date)) ~> derivedColumn1",
						"derivedColumn1, MapDrifted1 join(aggregate1@employee_id == pivot1@employee_id",
						"     && aggregate1@effective_date == pivot1@effective_date,",
						"     joinType:'outer',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join2 derive(upload_date = fromUTC(currentUTC(), 'Europe/Berlin')) ~> derivedColumn2",
						"pivot1 derive(cost_centers = toString(byName('cost_centers')),",
						"          department_id = toString(byName('department_id')),",
						"          dynamic_4455758 = toString(byName('dynamic_4455758')),",
						"          dynamic_4455760 = toString(byName('dynamic_4455760')),",
						"          dynamic_4668965 = toString(byName('dynamic_4668965')),",
						"          dynamic_4668966 = toString(byName('dynamic_4668966')),",
						"          dynamic_4668967 = toString(byName('dynamic_4668967')),",
						"          dynamic_4908028 = toString(byName('dynamic_4908028')),",
						"          dynamic_4908107 = toString(byName('dynamic_4908107')),",
						"          dynamic_5849877 = toString(byName('dynamic_5849877')),",
						"          dynamic_7173473 = toString(byName('dynamic_7173473')),",
						"          email = toString(byName('email')),",
						"          employment_type = toString(byName('employment_type')),",
						"          fte = toString(byName('fte')),",
						"          gender = toString(byName('gender')),",
						"          position = toString(byName('position')),",
						"          status = toString(byName('status')),",
						"          subcompany_id = toString(byName('subcompany_id')),",
						"          supervisor_id = toString(byName('supervisor_id')),",
						"          termination_type = toString(byName('termination_type')),",
						"          weekly_working_hours = toString(byName('weekly_working_hours'))) ~> MapDrifted1",
						"join1, badchurns join(aggregate1@employee_id == badchurns@employee_id",
						"     && aggregate1@effective_date == badchurns@effective_date,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          employee_id = aggregate1@employee_id,",
						"          effective_date = aggregate1@effective_date,",
						"          cost_center_id,",
						"          cost_center_name,",
						"          cost_center_weight,",
						"          sqlhash,",
						"          employee_id = pivot1@employee_id,",
						"          effective_date = pivot1@effective_date,",
						"          department_id,",
						"          first_entry_date = dynamic_4668965,",
						"          entry_date = dynamic_4668966,",
						"          exit_date = dynamic_4668967,",
						"          permanent_employee = dynamic_4908028,",
						"          dynamic_7173473,",
						"          email,",
						"          fte,",
						"          gender,",
						"          position,",
						"          subcompany_id,",
						"          termination_type,",
						"          weekly_working_hours,",
						"          upload_date,",
						"          place_of_business = dynamic_5849877,",
						"          DEGREE_OF_SEVERE_DISABILITY = dynamic_4908107,",
						"          age = dynamic_4455758,",
						"          bad_churn = value,",
						"          status",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF 175 STG Personio api data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "150_STG_SPA",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "175_STG_SPAE",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "sort1"
						},
						{
							"name": "window1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "window2"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "filter2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          employee_id as integer,",
						"          effective_date as date,",
						"          cost_center_id as integer,",
						"          cost_center_name as string,",
						"          cost_center_weight as integer,",
						"          sqlhash as string,",
						"          department_id as string,",
						"          first_entry_date as string,",
						"          entry_date as string,",
						"          exit_date as string,",
						"          permanent_employee as string,",
						"          dynamic_7173473 as string,",
						"          email as string,",
						"          fte as string,",
						"          gender as string,",
						"          position as string,",
						"          subcompany_id as string,",
						"          termination_type as string,",
						"          weekly_working_hours as string,",
						"          upload_date as timestamp,",
						"          place_of_business as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          age as string,",
						"          bad_churn as string,",
						"          status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sort(asc(employee_id, true),",
						"     asc(effective_date, true)) ~> sort1",
						"sort1 window(over(employee_id),",
						"     asc(effective_date, true),",
						"     Valid_to = lead(effective_date, 1, null())) ~> window1",
						"window1 derive(Valid_to = addDays(Valid_to, -1)) ~> derivedColumn1",
						"derivedColumn1 window(over(employee_id),",
						"     asc(effective_date, true),",
						"     Rank = denseRank()) ~> window2",
						"window2 derive(IsCurrent = iif(Rank == 1, \"TRUE\", \"FALSE\"),",
						"          FIRSTNAME = initCap((split(split(email, '@')[1], '.')[1])),",
						"          LASTNAME = initCap((split(split(email, '@')[1], '.')[2])),",
						"          Date_entry_date = toDate(entry_date, \"yyyy-MM-dd\"),",
						"          Date_exit_date = toDate(exit_date, \"yyyy-MM-dd\"),",
						"          Date_first_entry_date = toDate(first_entry_date, \"yyyy-MM-dd\")) ~> derivedColumn2",
						"derivedColumn2 select(mapColumn(",
						"          sqlhash,",
						"          employee_id,",
						"          effective_date,",
						"          Valid_to,",
						"          cost_center_id,",
						"          cost_center_name,",
						"          cost_center_weight,",
						"          cost_centers = cost_center_name,",
						"          department_id,",
						"          first_entry_date = Date_first_entry_date,",
						"          entry_date = Date_entry_date,",
						"          exit_date = Date_exit_date,",
						"          permanent_employee,",
						"          dynamic_7173473,",
						"          email,",
						"          fte,",
						"          gender,",
						"          position,",
						"          subcompany_id,",
						"          termination_type,",
						"          weekly_working_hours,",
						"          upload_date,",
						"          FIRSTNAME,",
						"          LASTNAME,",
						"          place_of_business,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          age,",
						"          bad_churn,",
						"          status",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 filter(and(\r",
						"    permanent_employee != \"gewerbliche Aushilfe\",\r",
						"    and(\r",
						"        permanent_employee != \"Leiharbeitnehmer:in\",\r",
						"        permanent_employee != \"Employer of Record (EOR)\"\r",
						"    )\r",
						")) ~> filter1",
						"filter1 filter(!(permanent_employee == 'Testaccount'",
						"  || LASTNAME == 'Mustermann'",
						"  || LASTNAME == 'Mustermann-test')) ~> filter2",
						"filter2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SID = sqlhash,",
						"          ID = employee_id,",
						"          VALID_FROM = effective_date,",
						"          VALID_TO = Valid_to,",
						"          COST_CENTRE = cost_center_id,",
						"          cost_center_name,",
						"          cost_center_weight,",
						"          cost_centers = cost_center_name,",
						"          DEPARTMENT = department_id,",
						"          FIRST_ENTRY_DATE = first_entry_date,",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD = entry_date,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD = exit_date,",
						"          HIRED_AS = permanent_employee,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION = dynamic_7173473,",
						"          MAILADDRESS = email,",
						"          FTE = fte,",
						"          GENDER = gender,",
						"          POSITION = position,",
						"          COMPANY = subcompany_id,",
						"          EXIT_TYPE = termination_type,",
						"          WEEKLY_HOURS = weekly_working_hours,",
						"          upload_date,",
						"          FIRSTNAME,",
						"          LASTNAME,",
						"          PLACE_OF_BUSINESS = place_of_business,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          DATE_OF_BIRTH = age,",
						"          BAD_CHURN = bad_churn,",
						"          status",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "200_STG_SAE",
								"type": "DatasetReference"
							},
							"name": "STGSAE"
						},
						{
							"dataset": {
								"referenceName": "200_STG_SML",
								"type": "DatasetReference"
							},
							"name": "MINLOADPERSONIO"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "200_STG_SAE",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          SID as string,",
						"          VALID_FROM as date,",
						"          VALID_TO as date,",
						"          COST_CENTRE as integer,",
						"          cost_center_name as string,",
						"          cost_center_weight as integer,",
						"          DEPARTMENT as string,",
						"          FIRST_ENTRY_DATE as date,",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD as date,",
						"          HIRED_AS as string,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION as string,",
						"          MAILADDRESS as string,",
						"          FTE as string,",
						"          GENDER as string,",
						"          POSITION as string,",
						"          COMPANY as string,",
						"          EXIT_TYPE as string,",
						"          WEEKLY_HOURS as string,",
						"          upload_date as timestamp,",
						"          FIRSTNAME as string,",
						"          LASTNAME as string,",
						"          PLACE_OF_BUSINESS as string,",
						"          DEGREE_OF_SEVERE_DISABILITY as string,",
						"          DATE_OF_BIRTH as string,",
						"          BAD_CHURN as string,",
						"          LOAD_PERIOD as string,",
						"          AGE as integer,",
						"          TENURE as integer,",
						"          start_accident_date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> STGSAE",
						"source(output(",
						"          COMPANY as string,",
						"          Min_Load_Period as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> MINLOADPERSONIO",
						"STGSAE, MINLOADPERSONIO join(STGSAE@COMPANY == MINLOADPERSONIO@COMPANY,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 filter(toInteger(LOAD_PERIOD) >= Min_Load_Period) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE [200_STG].[SAE_API_EMPLOYEES]'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ID,",
						"          SID,",
						"          VALID_FROM,",
						"          VALID_TO,",
						"          COST_CENTRE,",
						"          cost_center_name,",
						"          cost_center_weight,",
						"          DEPARTMENT,",
						"          FIRST_ENTRY_DATE,",
						"          ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD,",
						"          LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD,",
						"          HIRED_AS,",
						"          EMPLOYEE_GROUPS_BY_FUNCTION,",
						"          MAILADDRESS,",
						"          FTE,",
						"          GENDER,",
						"          POSITION,",
						"          COMPANY = STGSAE@COMPANY,",
						"          EXIT_TYPE,",
						"          WEEKLY_HOURS,",
						"          upload_date,",
						"          FIRSTNAME,",
						"          LASTNAME,",
						"          PLACE_OF_BUSINESS,",
						"          DEGREE_OF_SEVERE_DISABILITY,",
						"          DATE_OF_BIRTH,",
						"          BAD_CHURN,",
						"          LOAD_PERIOD,",
						"          AGE,",
						"          TENURE,",
						"          start_accident_date",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/100 STG SRAE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Bearer",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://api.personio.de/v1/auth?client_id=papi-1228d1b2-0fcc-4d05-bfaf-06c92f6b6d68&client_secret=papi-ZDUxY2M2N2ItYzY3NS00OTNiLTgyMTMtNDZmNTA5NjkzNzNj",
							"body": "\""
						}
					},
					{
						"name": "Set Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Bearer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "BEARERTOKEN",
							"value": {
								"value": "@concat('Bearer ', activity('Get Bearer').output.data.token)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy JSON to Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@variables('BEARERTOKEN')",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Personio_API_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "JSON_PersonioAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_SRAE",
						"description": "Dataflow to fulfill table SRAE\n",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy JSON to Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF 100 STG Personio api data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Bearer Standard Api",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://api.personio.de/v1/auth?client_id=OTI2MjA2NjgyODIzMThkYzMwYWVlMGUw&client_secret=MTQ3ZGIzNDlmMTMzNmQwZTI4ZWVlMDVkN2U4MjZhYzkwODYw",
							"body": "\""
						}
					},
					{
						"name": "Set Token Standard Api",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Bearer Standard Api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "token",
							"value": {
								"value": "@concat('Bearer ', activity('Get Bearer Standard Api').output.data.token)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy JSON to Blob 2",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Set Token Standard Api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@variables('token')",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource_StandardApi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "JSON_standard_Api",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"BEARERTOKEN": {
						"type": "String"
					},
					"token": {
						"type": "String"
					}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-05-12T06:43:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF 100 STG Personio api data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/150 STG SPA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_SPA",
						"description": "Dataflow to fulfill table SPA\n",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF 150 STG Personio api data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"badchurns": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-01-08T10:20:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF 150 STG Personio api data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/175 STG SPAE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF SPAE",
						"description": "Dataflow to fulfill table SPAE\n",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF 175 STG Personio api data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-01-08T10:20:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF 175 STG Personio api data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/200 STG SAE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Transform in Load Period Format",
						"description": "Wird durch AZURE FUNCTIONS ersetzt!",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/jasper.vonpetersdorff-campen@timetoact.de/Transform API Data in Load Period Format"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks HR Reporting",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Add dynamic Age",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Add Age Calculation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Add Non Personio Employees",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Azure Function1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Add_NonPersonio_Employees",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"MinloadPeriod": {},
									"CompanyTranslation": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Clean incomplete periods",
						"description": "Ist im AZURE FUNCTION Code implementiert",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Transform in Load Period Format",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGSAE": {},
									"MINLOADPERSONIO": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Add Api Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Add Non Personio Employees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [200_STG].[SEM_EMPLOYEES_MERGED]\n",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SAE_ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "SEM_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_SID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_SID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_VALID_FROM",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "SEM_VALID_FROM",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SAE_VALID_TO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "SEM_VALID_TO",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SAE_COST_CENTRE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "SEM_COST_CENTRE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_cost_center_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_COST_CENTER_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_cost_center_weight",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "SEM_COST_CENTER_WEIGHT",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SAE_DEPARTMENT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_DEPARTMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_FIRST_ENTRY_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "SEM_FIRST_ENTRY_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SAE_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SAE_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SAE_HIRED_AS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_HIRED_AS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_EMPLOYEE_GROUPS_BY_FUNCTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_EMPLOYEE_GROUPS_BY_FUNCTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_MAILADDRESS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_MAILADDRESS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_FTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_FTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_GENDER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_GENDER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_POSITION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_POSITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_COMPANY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_COMPANY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_EXIT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_EXIT_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_WEEKLY_HOURS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_WEEKLY_HOURS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_upload_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "SEM_UPLOAD_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SAE_FIRSTNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_FIRSTNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_LASTNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_LASTNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_PLACE_OF_BUSINESS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_PLACE_OF_BUSINESS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_DEGREE_OF_SEVERE_DISABILITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_DEGREE_OF_SEVERE_DISABILITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_DATE_OF_BIRTH",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_DATE_OF_BIRTH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_BAD_CHURN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_BAD_CHURN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_LOAD_PERIOD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_LOAD_PERIOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAE_AGE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "SEM_AGE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SAE_TENURE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "SEM_TENURE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SAE_COMPANY_KEY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEM_COMPANY_KEY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "200_STG_SAE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "200_STG_SEM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Add Excel Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Add Api Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SEM_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COST_CENTRE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SEM_COST_CENTRE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEPARTMENT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_DEPARTMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FIRST_ENTRY_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "SEM_FIRST_ENTRY_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "SEM_ENTRY_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "SEM_LEAVING_DATE_CURRENT_EMPLOYMENT_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "HIRED_AS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_HIRED_AS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_GROUPS_BY_FUNCTION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_EMPLOYEE_GROUPS_BY_FUNCTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILADDRESS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_MAILADDRESS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FTE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 27
										},
										"sink": {
											"name": "SEM_FTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GENDER",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_GENDER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "POSITION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_POSITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_COMPANY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXIT_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_EXIT_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WEEKLY_HOURS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 27
										},
										"sink": {
											"name": "SEM_WEEKLY_HOURS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FIRSTNAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_FIRSTNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LASTNAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_LASTNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLACE_OF_BUSINESS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_PLACE_OF_BUSINESS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEGREE_OF_SEVERE_DISABILITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_DEGREE_OF_SEVERE_DISABILITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BAD_CHURN",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_BAD_CHURN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOAD_PERIOD",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SEM_LOAD_PERIOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 27
										},
										"sink": {
											"name": "SEM_AGE",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "200_STG_SEE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "200_STG_SEM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "run-script-emp",
							"headers": {},
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "temd",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"token": {
						"type": "String"
					}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-21T09:22:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Add Age Calculation')]",
				"[concat(variables('factoryId'), '/dataflows/Add_NonPersonio_Employees')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/200_FINANCIAL_DATA_LUCANET_XLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_FINANCIAL_DATA_LUCANET_XLSX",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "200_FINANCIAL_DATA_LUCANET_XLSX",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"XLSX": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "200_STG"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-30T09:30:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/200_PERSONELL_BUDGET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_PERSONELL_BUDGET",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "200_PERSONELL_BUDGET",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CSV": {},
									"personellbudget": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "200_STG"
				},
				"annotations": [],
				"lastPublishTime": "2024-06-07T14:34:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/200_PERSONIO_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_PERSONIO_DATA",
						"description": "",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "200_PERSONIO_DATA",
								"type": "DataFlowReference",
								"parameters": {
									"PYear": {
										"value": "'@{pipeline().parameters.Jahr}'",
										"type": "Expression"
									},
									"PMonth": {
										"value": "'@{pipeline().parameters.Monat}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"PersonioASCII": {},
									"source1": {},
									"Personio": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Jahr": {
						"type": "string",
						"defaultValue": "2023"
					},
					"Monat": {
						"type": "string",
						"defaultValue": "03"
					}
				},
				"folder": {
					"name": "200_STG"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-18T12:17:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/200_PERSONIO_DATA_bis_202301')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_PERSONIO_DATA_bis_202301",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "DataFlowReference",
								"parameters": {
									"PYear": {
										"value": "'@{pipeline().parameters.Jahr}'",
										"type": "Expression"
									},
									"PMonth": {
										"value": "'@{pipeline().parameters.Monat}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"PersonioASCII": {},
									"Personio": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Jahr": {
						"type": "string",
						"defaultValue": "2023"
					},
					"Monat": {
						"type": "string",
						"defaultValue": "03"
					}
				},
				"folder": {
					"name": "200_STG"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-03T14:42:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_DWH_FAP_PERSONELL_REPORT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "400_DWH FAP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "HR_REPORT_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "truncate table [400_DWH].[ACT_PERIOD] \n\nINSERT INTO [400_DWH].[ACT_PERIOD] ( [ACTPERIOD], [ACTPERIOD_DATE] )\nSELECT MAX(  load_period ) as [ACTPERIOD], EOMONTH( concat(left(max(load_period), 4), '/', right(max(LOAD_PERIOD), 2), '/01')) as [ACTPERIOD_DATE]\n  FROM [200_STG].[F_PERSONIO_DATA]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "400_DWH FAP",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_PERSONELL_DATA_PYTHON",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PersonioBasis": {},
									"PERIODE": {},
									"Uebersetzung": {},
									"Uebersetzung2": {},
									"Companytranslations": {},
									"source1": {},
									"PersonellData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-06-30T08:49:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/400_PERSONELL_DATA_PYTHON')]"
			]
		}
	]
}