TTA-HR-ADF/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TTA-HR-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/400_FINANCIAL_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "400_FINANCIAL_DATA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_FINANCIAL_DATA",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"quelle": {},
									"periode": {},
									"CompanyTranslation": {},
									"Kto": {},
									"CompanyBU": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "400_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2023-04-12T14:41:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_PERSONELL_BUDGET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "400_PERSONELL_BUDGET",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_PERSONELL_BUDGET",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Budget200": {},
									"Ges": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "400_PERSONELL_BUDGET_pivot",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Script1_Delete400",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_PERSONELL_BUDGET_pivot",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Budget100": {},
									"Ges": {},
									"Translation": {},
									"source9": {},
									"CompanyMapping": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "400_PERSONELL_BUDGET_unpivot",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_PERSONELL_BUDGET_unpivot",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Budget200TMP": {},
									"Ges": {},
									"sink2": {},
									"sink3": {},
									"sink4": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Script1_Delete400",
						"type": "Script",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "HR_REPORT_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "truncate table [400_DWH].[F_PERSONELL_BUDGET]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "400_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2024-06-07T08:56:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_PERSONELL_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "400_PERSONELL_DATA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_PERSONELL_DATA",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PersonioBasis": {},
									"PERIODE": {},
									"Uebersetzung": {},
									"Uebersetzung2": {},
									"Companytranslations": {},
									"source1": {},
									"PersonellData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "HR_REPORT_DB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "truncate table [400_DWH].[ACT_PERIOD] \n\nINSERT INTO [400_DWH].[ACT_PERIOD] ( [ACTPERIOD], [ACTPERIOD_DATE] )\nSELECT MAX(  load_period ) as [ACTPERIOD], EOMONTH( concat(left(max(load_period), 4), '/', right(max(LOAD_PERIOD), 2), '/01')) as [ACTPERIOD_DATE]\n  FROM [200_STG].[F_PERSONIO_DATA]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "400_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2025-01-02T13:12:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/400_TRANSLATIONS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "400_TRANSLATIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_TRANSLATIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"quelleUebersetzungen": {},
									"zielUEbersetzungen": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "400_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-10T09:13:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG PERS API_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Bearer",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://api.personio.de/v1/auth?client_id=OTI2MjA2NjgyODIzMThkYzMwYWVlMGUw&client_secret=MTQ3ZGIzNDlmMTMzNmQwZTI4ZWVlMDVkN2U4MjZhYzkwODYw",
							"body": "\""
						}
					},
					{
						"name": "Set Token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Bearer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "BEARERTOKEN",
							"value": {
								"value": "@concat('Bearer ', activity('Get Bearer').output.data.token)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy JSON to Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@variables('BEARERTOKEN')",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Personio_API_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "JSON_PersonioAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy JSON to Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF 100 STG Personio api data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"BEARERTOKEN": {
						"type": "String"
					}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-01-08T09:24:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_FEB2024')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "400_PERSONELL_DATA_from_FEB24",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "400_PERSONELL_DATA_from_FEB24",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PersonioBasis": {},
									"PERIODE": {},
									"Uebersetzung": {},
									"Uebersetzung2": {},
									"Companytranslations": {},
									"PersonellData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-13T08:05:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/100 STG - 400 DWH FULL LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline 100 STG PERS API",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "100 STG SRAE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline 150 STG PERS API",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline 100 STG PERS API",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "150 STG SPA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline175 STG PERS API",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline 150 STG PERS API",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "175 STG SPAE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline 200 STG PERS API",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Execute Pipeline175 STG PERS API",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200 STG SAE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "400_DWH_FAP_PERSONELL_REPORT",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Execute Pipeline 200 STG PERS API",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "400_DWH_FAP_PERSONELL_REPORT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "FULL LOAD - PERSONIO API EMPLOYEES"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-21T08:50:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/200_Personio_Data_2022')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_PERSONIO_DATA_bis_202301",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "01"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "02"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_3",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "03"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_4",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "04"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_5",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "05"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_6",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "06"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_7",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "07"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_8",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "08"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_9",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "09"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_10",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "10"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_11",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "11"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_12",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2022",
								"Monat": "12"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_bis_202301_13",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA_bis_202301",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2023",
								"Monat": "01"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2023",
								"Monat": "02"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2023",
								"Monat": "03"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA_3",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2023",
								"Monat": "04"
							}
						}
					},
					{
						"name": "400_PERSONELL_DATA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "200_PERSONIO_DATA_bis_202301_13",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_12",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_11",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_10",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_9",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_8",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_7",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_4",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_5",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA_bis_202301_6",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "200_PERSONIO_DATA2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "400_PERSONELL_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "200_PERSONIO_DATA1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2023",
								"Monat": "05"
							}
						}
					},
					{
						"name": "200_PERSONIO_DATA2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_PERSONIO_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Jahr": "2023",
								"Monat": "06"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-24T08:51:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/400_PERSONELL_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Import Lucanet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_FINANCIAL_DATA_LUCANET",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_FINANCIAL_DATA_LUCANET",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "400_FINANCIAL_DATA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "200_FINANCIAL_DATA_LUCANET",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "400_FINANCIAL_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-15T13:42:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/400_FINANCIAL_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Import_single_Month')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "200_PERSONIO_DATA",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set variable Jahr",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set variable Monat",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "200_PERSONIO_DATA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Jahr": {
												"value": "@variables('VJahr')",
												"type": "Expression"
											},
											"Monat": {
												"value": "@variables('VMonat')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "400_PERSONELL_DATA",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "200_PERSONIO_DATA",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "400_PERSONELL_DATA",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Set variable Jahr",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "VJahr",
										"value": {
											"value": "@substring(item().name, 5, 4)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable Monat",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "VMonat",
										"value": {
											"value": "@substring(item().name, 10, 2)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "PersonioASCII",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"VJahr": {
						"type": "String"
					},
					"VMonat": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-30T09:53:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/400_PERSONELL_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "200_TRANSLATIONS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "200_TRANSLATIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "400_TRANSLATIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "200_TRANSLATIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "400_TRANSLATIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "400_PERSONELL_DATA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "400_TRANSLATIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "400_PERSONELL_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-05-15T14:11:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/400_TRANSLATIONS')]",
				"[concat(variables('factoryId'), '/pipelines/400_PERSONELL_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1xday')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "100 STG - 400 DWH FULL LOAD",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-10-21T07:30:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/100 STG - 400 DWH FULL LOAD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LucanetTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Import Lucanet",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2023-08-15T13:39:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9,
								15
							],
							"monthDays": [
								29,
								30,
								31,
								28,
								27,
								26,
								25,
								24,
								23
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Import Lucanet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Import Lucanet",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2023-08-18T15:06:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								12
							],
							"monthDays": [
								1,
								2,
								3,
								4,
								23,
								24
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Import Lucanet')]"
			]
		}
	]
}